<% provide(:title, '') %>
<% @title=" " %>
<%= render 'flash' %>
<%= render 'application/mail_status' %>


<script>
   update_title('<%=@title%>'); 
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';

</script>

<div style="background-image: url('assets/banner3.jpg'); background-size: cover;padding-bottom: 10px">
<h1>NZ Route Guides</h1>
  <h2>
    A repository for tramping knowledge
  <br/>
  </h2>
</div>
<div class="erow">
 <ul class="places"> 
   <li>
     Find a place, route, etc by name:
     <%= render '/search/find' %>
   </li>
   <li>
     Select a start and end place from the map and search for through routes between them:
     <%= render '/search/search' %>
   </li>
   <% if !signed_in? %>
     <li>
       Explore the map. Zoom in to see places and detailed topomaps. Click on a place or route on the map to view information. 
     </li>
     <li>
       <%= link_to 'Join the community',  'signup', remote:true,  remote: true, :id => 'signup', :onclick => "linkHandler('signup')" %>
     - sign up and contribute your knowledge and experience: create your own routes, add to and correct existing routes, build your own trips and publish your own stories and trip reports.
     </li>
     <li>
       Check out to the <%= link_to 'About',  'about', remote:true,  remote: true, :id => 'about', :onclick => "linkHandler('about')" %> page for articles containing tips, help and further information about this site.
     </li>
     <li>
        Discuss the site, or routes in general on our 
        <%= link_to 'forums',  'forums', remote:true,  remote: true, :id => 'forums', :onclick => "linkHandler('forums')" %>
     </li>
   <% end %>
 </ul>
 <br/>&nbsp;</div>
  <div class="sectiontitle">What's new:<br/>&nbsp;</div>
  <% photos=Photo.all.order(:created_at).reverse[0..9] %>
  <%=render :partial => 'application/list_photos',  :locals => {:photos => photos} %>
  <br/>&nbsp;
  <% @reports=Report.find_latest_by_user(3) %>
  <%= render 'reports/index_details' %>
  <% @trips=Trip.find_latest_by_user(3) %>
  <%= render 'trips/index_details' %>
  <% @routes=Route.find_latest_by_user(3) %>
  <%= render 'routes/index_details' %>
<br/>

