<div class="erow">
  <div class="sectiontitle">Trips
      <% if @static_page==true %>
        <%=link_to "(more ...)",'/trips?order=latest', remote: true, :id => 'trip_index', :class => 'normaltext', :onclick => "linkHandler('trip_index')" %> 
     <% end %>
  </div>

</div>
 
<% if @trips and @trips.count>0 %>
 <%cnt=1%>
 <ul class="places">
  <% @trips.each do |trip| %>
    <div class="erow">
      <li>
        <span id="triprow<%=cnt%>">
          <%="(draft) " if !trip.published%><%= link_to trip.name, trip, remote: true, :id => 'trip_link_'+trip.id.to_s, :onclick => "linkHandler('trip_link_"+trip.id.to_s+"')" %><% if trip.createdBy %> by <%= link_to trip.createdBy.name.capitalize, '/users/'+trip.createdBy.name, remote: true%> <% end %>
        </span>
        <div class="erow" id="tripstats<%=cnt%>">
          <% str="" %>

          <% if trip.lengthmin and trip.lengthmin>0%>
            <%str+=trip.lengthmin.to_s%>
            <%str+=" to "+trip.lengthmax.to_s if trip.lengthmax and trip.lengthmax>0%>
            <%str+=" days | "%>
          <% end %>
         <% if  trip.distance and trip.distance>0 %>
           <%str+= number_with_precision(trip.distance, :precision => 2).to_s+" km | "%>
         <% end %>
         <% if trip.walkingtime and trip.walkingtime>0 %>
           <%str+= number_with_precision(trip.walkingtime, :precision => 1).to_s+" DOC hrs | "%>
         <% end %>
         <%=str[0..-3] if str.length>0%><%="(updated "+trip.updated_at.strftime("%F")+")" if trip.updated_at and trip.updated_at.strftime("%F")>'1900-01-01'%>
        </div>
      </li>
    </div>
    <% cnt+=1%>
   <% end %>
  </ul>
 <% else %>
   <div class="erow">
   None ...
   </div>
 <% end %> 

