<div class="erow">
  <div class="sectiontitle">Trips</div>
</div>
 
<% if @trips and @trips.count>0 %>
 <ul class="places">
  <% @trips.each do |trip| %>
    <div class="erow">
      <li>
       <%= link_to trip.id.to_s+". "+trip.createdBy.name.capitalize+" - "+trip.name, trip, remote: true, :id => 'trip_link_'+trip.id.to_s, :onclick => "linkHandler('trip_link_"+trip.id.to_s+"')" %></br>
       <%= trip.lengthmin%> to <%= trip.lengthmax%> days | 
       <%= number_with_precision(trip.distance, :precision => 2) %> km | 
       <%= number_with_precision(trip.walkingtime, :precision => 1) %> DOC hrs
      </li>
    </div>
   <% end %>
  </ul>
 <% else %>
   <div class="erow">
   None ...
   </div>
 <% end %> 

