<% provide(:title, "Trip | "+@trip.name) %>
<% @title=" | Trip | "+@trip.name %>
<%= render 'flash' %>

<script> 
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
   reset_map_controllers();

</script>
<div id='place_details'>
   <% if !@edit %>
      <div class="erow">
         <%  if(signed_in? and ((@trip.createdBy_id == current_user.id) or (@current_user.role==Role.find_by( :name => 'root')))) %>
            <div class="leftbuttons">
                <%= form_for @trip, remote: true do |f| %>
                   <span title="Edit">
                       <%= f.submit "edit", :type => :image, :src => '/assets/pencil_edit.png', :style => 'margin-bottom:0;border:none',onclick: "linkHandler('editbutton')", id:  "editbutton" %>
                   </span>
                <% end %>
            </div>
         <% end %>
         <%  if(signed_in? and ((@trip.createdBy_id != current_user.id) )) %>
            <div class="leftbuttons">
                <%= form_for @trip, remote: true do |f| %>
                   <span title="Make a personal copy I can edit">
                       <%= submit_tag "Make my own copy", :type => :image, :src => '/assets/copy.png', :style => 'margin-bottom:0;border:none'  %>
                   </span>
                <% end %>
            </div>
         <% end %>

         <div class="rowtitle" <% if (signed_in?) %>  <% end %> >
            Trip:
         </div>
         <div class="sectiontitle" > 
            <%= link_to @trip.name, @trip, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %>
         </div>
      </div>
         <% if (@trip.lengthmin) and (@trip.lengthmin>0) or (@trip.lengthmax) and (@trip.lengthmax>0) %>
           <div class="erow"><div class="rowtitle">Length:</div>
           <div class="rowtext">
              <% if (@trip.lengthmin) and (@trip.lengthmin>0)  %>
                 From <%=@trip.lengthmin%> 
              <% end %>
              <% if (@trip.lengthmax) and (@trip.lengthmax>0)  %>
                 up to <%=@trip.lengthmax %>
              <% end %>
              days
           </div></div>
         <% end %>
       <% if (@trip.distance) %>
            <div class="erow"><div class="rowtitle">Distance:</div><div class="rowtext"> <%= number_with_precision(@trip.distance, :precision => 2) %> km</div></div>
       <% end %>
       <% if @trip.walkingtime %>
             <div class="erow"><div class="rowtitle">Walking time:</div><div class="rowtext"> <%= @trip.walkingtime %> DOC hours </div></div>
       <% end %>
       <p>
            <%=simple_format(@trip.description).html_safe%>
      </p>
   <% else %>

      <%= form_for @trip, remote: true do |f| %>
         <div class="erow">
            <div class="leftbuttons">
               <span title="Save trip">
                  <%= f.submit "Save", :type => :image, :src => '/assets/save.png', :style => 'margin-bottom:0;border:none',onclick: "linkHandler('editbutton')", id:  "editbutton" %>
               </span>
            </div>
            <div class="rightbuttons">
               <span title="Delete trip">
                  <%= submit_tag "Delete",  :type => :image, :src => '/assets/trash.png', :style => 'margin-bottom:0;border:none'  %>
               </span>
            </div>
         </div>
         <div class="erow">
            <div class="rowtitle">
               Trip:
            </div>
            <div class="rowtext">
               <%= f.text_field :name %>
            </div>
         </div>
         <div class="erow">
            <div class="rowtitle">
               Length (days):
            </div>
            <div class="rowtext">
               <%= f.text_field :lengthmin, :style => "width:20%" %> to <%= f.text_field :lengthmax, :style => "width:20%" %>
            </div>
         </div>
         <% if (@trip.distance) %>
            <div class="erow"><div class="rowtitle">Distance:</div><div class="rowtext"> <%= number_with_precision(@trip.distance, :precision => 2) %> km</div></div>
         <% end %>
         <% if @trip.walkingtime %>
             <div class="erow"><div class="rowtitle">Walking time:</div><div class="rowtext"> <%= @trip.walkingtime %> DOC hours </div></div>
         <% end %>
         <div class="erow">
            <div class="rowtitle">
               Published:
            </div>
            <div class="rowtext">
               <%= f.check_box :published %>
            </div>
         </div>
         <div class="erow">
            <div class="sectiontitle"><br/>
                Description:
            </div>
         </div>
         <p>
            <%= f.text_area :description, :rows => "8" %>
         </p>
      <% end %>
   <% end %>

<%= form_tag '/trips/move', :remote=> true, :id => "moveForm", :name=> 'moveForm', :method=> 'post'%>
     <input type="hidden" name="cutFrom"  /> 
     <input type="hidden" name="pasteAfter" /> 
     <input type="hidden" name="id", value=<%=@trip.id.to_s%>>


      <% @trip.trip_details.order(:order).each do |td| %>
         <div class="hrline">
            <hr noshade size="4">
         </div>
         <div class="erow">
            <% if @edit %>
               <span title="Cut following section and ...">
                  <div class="cutbutton"> <%= submit_tag "cut"+td.id.to_s, :id => "cutItem", :type => :image, :src => '/assets/cut.png', :style => 'margin-bottom:0;border:none', :onclick => "cutItem("+td.id.to_s+"); return false;" %> </div>
               </span>
               <span title="... paste cut section here">
                  <div class="pastebutton"  id='pasteItem<%=td.id.to_s%>'style="display:none"> <%= submit_tag "paste"+td.id.to_s, :id => "pasteItem", :type => :image, :src => '/assets/big-insert.png', :style => 'margin-bottom:0;border:none' %> </div>
               </span>
               <span title="...delete cut section">
                  <div class="deletebutton" id='deleteItem<%=td.id.to_s%>' style="display:none"> <%= submit_tag  "delete",  :type => :image, :src => '/assets/trash.png', :style => 'margin-bottom:0;border:none' %> </div>
               </span>


            <% end %>
         </div>
         <% 
            #convert show boolean to int
            @showForward=if(td.showForward) then 1 else 0 end
            @showReverse=if(td.showReverse) then 1 else 0 end
            @showConditions=if(td.showConditions) then 1 else 0 end
            @showLinks=if(td.showLinks) then 1 else 0 end 
         %>
         <% if td.place  %>
            <%
               @place=td.place 
               
               wgs84_proj4 = '+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs'
               nztm_proj4 = '+proj=tmerc +lat_0=0 +lon_0=173 +k=0.9996 +x_0=1600000 +y_0=10000000 +ellps=GRS80 +towg'
               wgs=RGeo::CoordSys::Proj4.new(wgs84_proj4)
               nztm=RGeo::CoordSys::Proj4.new(nztm_proj4)
   
               xyarr=RGeo::CoordSys::Proj4::transform_coords(wgs,nztm,@place.location.x, @place.location.y)
         
               #convery location to readable format
               @x=xyarr[0]
               @y=xyarr[1]      
            %>
            <%= render 'places/place_details' %> 
        <% end %>
        <% if td.route_id %>
          <% if td.route_id !=0 %>
            <% @route=Route.find_by_signed_id(td.route_id) %>
            <% if @route %>
              <%= render 'routes/route_details' %> 
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <div class="hrline">
         <hr noshade size="4">
      </div>
      <span title="... paste cut section here">
         <div class="pastebutton" style="display:none"> <%= submit_tag "paste", :id => "pasteItem", :type => :image, :src => '/assets/big-insert.png', :style => 'margin-bottom:0;border:none' %> </div>
      </span>
   </form>

   <div class="erow" style="margin-top:12px">
     <div class="sectiontitle">
        Stories about this trip:
     </div>
   </div>
   <% @trip.reports.each do |r|%>
     <div class="erow">
        <div class="sectiontext">
           <li>
              <%=  link_to r.name+" by "+r.createdBy.name.capitalize, '/reports/'+r.id.to_s, remote: true, onclick: %q[linkHandler('r]+r.id.to_s+%q[')], id:  'r'+r.id.to_s  %>
           </li>
        </div>
     </div>
   <% end %>

</div>
