<% provide(:title, "Trip | "+@trip.id.to_s) %>
<% @title=" | Trip | "+@trip.id.to_s %>
<%= render 'flash' %>

<script> 
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
</script>
<div id='place_details'>
   <% if !@edit %>
      <div class="expandrow">
         <%  if(signed_in? and ((@trip.createdBy_id == current_user.id) or (@current_user.role==Role.find_by( :name => 'root')))) %>
            <div class="expandbuttons">
                <%= form_for @trip, remote: true do |f| %>
                   <%= f.submit "edit", :type => :image, :src => '/assets/pencil_edit.png', :style => 'margin-bottom:0',onclick: "linkHandler('editbutton')", id:  "editbutton" %>
                <% end %>
            </div>
         <% end %>
         <div class="sectiontitle">
             Trip: <%=@trip.name%>
         </div>
      </div> 
      <p>
         <%=simple_format(@trip.description).html_safe%>
      </p>
   <% else %>

      <%= form_for @trip, remote: true do |f| %>
         <div class="expandrow">
            <div class="expandbuttons">
               <%= f.submit "Save", :type => :image, :src => '/assets/tick.png', :style => 'margin-bottom:0',onclick: "linkHandler('editbutton')", id:  "editbutton" %>
            </div>
            <div class="sectiontitle">
               <%= f.text_field :name %>
            </div>  
         </div>
         <p>
            <%= f.label :description %>
            <%= f.text_area :description, :rows => "8" %>
         </p>
      <% end %>
   <% end %>


   <% @totalcount=@trip.trip_details.count %>
   <% @count = 0 %>
   <% @trip.trip_details.order(:order).each do |td| %>
   <div class="hrline">
      <hr noshade size="4">
   </div>
   <div class="expandrow">
         <% if @edit %>
            <%= form_for @trip, remote: true do |f| %>
               <%= f.hidden_field :td, value: td.id %>
               <% @count=@count+1 %>
               <% if @count>1 %>
                  <%= f.submit "top", :type => :image, :src => '/assets/green-go-top.png', :style => 'margin-bottom:0' %>
                  <%= f.submit "up", :type => :image, :src => '/assets/green-go-up.png', :style => 'margin-bottom:0' %>
               <% else %>
                   <%= f.submit "top", :type => :image, :src => '/assets/grey-go-top.png', :style => 'margin-bottom:0', :disabled => 'disabled' %>
                  <%= f.submit "up", :type => :image, :src => '/assets/grey-go-up.png', :style => 'margin-bottom:0', :disabled => 'disabled' %>
               <% end%>

               <% if @count<@totalcount %>
                  <%= f.submit "down", :type => :image, :src => '/assets/green-go-down.png', :style => 'margin-bottom:0' %>
                  <%= f.submit "bottom", :type => :image, :src => '/assets/green-go-bottom.png', :style => 'margin-bottom:0' %>
               <% else %>
                  <%= f.submit "down", :type => :image, :src => '/assets/grey-go-down.png', :style => 'margin-bottom:0', :disabled => 'disabled'  %>
                  <%= f.submit "bottom", :type => :image, :src => '/assets/grey-go-bottom.png', :style => 'margin-bottom:0', :disabled => 'disabled'  %>

               <% end%>
               <%= f.submit "X", :type => :image, :src => '/assets/red-x.png', :style => 'margin-bottom:0' %>
            <% end %>
         <% end %>
   </div>
  <% 
      #convert show boolean to int
      @showForward=if(td.showForward) then 1 else 0 end
      @showReverse=if(td.showReverse) then 1 else 0 end
      @showConditions=if(td.showConditions) then 1 else 0 end
      @showLinks=if(td.showLinks) then 1 else 0 end
  %>
  <% if td.place %>
    <% @place=td.place %>
    <%     
       wgs84_proj4 = '+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs'
       nztm_proj4 = '+proj=tmerc +lat_0=0 +lon_0=173 +k=0.9996 +x_0=1600000 +y_0=10000000 +ellps=GRS80 +towg'

       wgs=RGeo::CoordSys::Proj4.new(wgs84_proj4)
       nztm=RGeo::CoordSys::Proj4.new(nztm_proj4)
   
       xyarr=RGeo::CoordSys::Proj4::transform_coords(wgs,nztm,@place.location.x, @place.location.y)
   
       #convery location to readable format
       @x=xyarr[0]
       @y=xyarr[1]      


    %>
    <%= render 'places/place_details' %>
  <% end %>
  <% if td.route %>
    <% if td.route_id >0 %>
    <% @route=td.route %>
    <%= render 'routes/route_details' %>
    <% end %>
  <% end %>
<% end %>

</div>
