<% if signed_in?%>
<div id='place_details' class='no-print'>
  <div>
     <%= form_for  @message, :remote=> true, :html => {:name => 'messageform'}  do |f| %>
      <%= render 'shared/error_messages' %>

      <% if !@forum%>
        <div id="to_field" <%='style=display:none' if @hide_to%>>
          <%= f.label :To %>
          <%= collection_select( :message, :toUser_id, User.all.order(:name), :id, :name, {}, {:disabled => !@edit}) %>
        </div>
      <% end %>

      <div id="subject" <%="style=display:none" if @hide_to %>>
        <%= f.label :Subject %>
        <%= f.text_field :subject, :disabled=>!@edit %>
      </div>

      <%= f.label :Message %>
      <%= f.text_area :message, :disabled=>!@edit, :rows=>"1", :onfocus=>'if (document.getElementById("message_message").rows==1) { document.getElementById("message_message").rows=8;  document.getElementById("subject").style.display="block";}'   %>

      <%= f.hidden_field :forum_id %>
      <% if @edit %>
        <% if @hide_to %>
          <%= f.submit "Reply", class: "btn btn-small btn-primary", name: "save", onclick: "linkHandler('savebutton')", id:  "savebutton" %>
        <% else %>
          <%= f.submit "Send", class: "btn btn-small btn-primary", name: "save", onclick: "linkHandler('savebutton')", id:  "savebutton" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>


