<% provide(:title, 'Messages') %>
<% @title=" | Messages" %>
<%= render 'flash' %>
<%= render 'application/mail_status' %>

<script>
   update_title('<%=@title%>');
   reset_map_controllers(<%=if @current_user then @current_user.id.to_s end%>);
   document.getElementById("page_status").innerHTML = '';

$(function () {
  $('#right_panel .pagination a').on('click', function () {
    $.getScript(this.href);
    return false;
  });
});
</script>
<div id="actionbar" class="span7">
   <div id="crumbs"></div>
   <div id="controls">
       <%= render :partial => 'mytrip_button'%>
   </div>
</div>

<div id='place_container'>

  <%=render 'message_form'%>
  <% if @messages %>
    <div class="name_pagination"> <%= will_paginate(@messages) %></div>
    <% @messages.each do |message| %>
      <div class="erow">
           <% @show_message=message %>
           <%= render 'message_details' %>
       </div>
    <% end %>
    <div class="name_pagination"> <%= will_paginate(@messages) %></div>
  <% end %>
<div class="erow">
 <div class="hrline">
    <hr noshade size="4">
 </div>
<div>
</div>
