<% if !signed_in? %>
   <small>You are not currently signed in. Register / sign in to make forum posts</small><br/> 
<% end %>
<% if signed_in?%>
<div id='place_details' class='no-print'>
  <div>
     <%= form_for  @message, :remote=> true, :html => {:name => 'messageform'}, :url => '/forums'   do |f| %>
      <%= render 'shared/error_messages' %>

      <div id="subject" <%="style=display:none" if @hide_to %>>
        <%= f.label :Subject %>
        <%= f.text_field :subject, :disabled=>!@edit %>
      </div>

      <div id="fromname"></div>
      <div id="fromemail"></div>
      <%= f.hidden_field :fromName, :default => @current_user.name %>
      <%= f.hidden_field :fromEmail, :default => @current_user.email %>

      <%= f.label :Message %>
      <%= f.text_area :message, :disabled=>!@edit, :rows=>"1", :onfocus=>'if (document.getElementById("message_message").rows==1) { document.getElementById("message_message").rows=8;  document.getElementById("subject").style.display="block"; document.getElementById("fromemail").style.display="block"; document.getElementById("fromname").style.display="block"}'  %>

      <%= f.hidden_field :forum_id, :default => @id %>
      <% if @edit %>
        <% if @hide_to %>
          <%= f.submit "Reply", class: "btn btn-small btn-primary", name: "save", onclick: "linkHandler('savebutton')", id:  "savebutton" %>
        <% else %>
          <%= f.submit "Send", class: "btn btn-small btn-primary", name: "save", onclick: "linkHandler('savebutton')", id:  "savebutton" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>



