     <% if signed_in? and (@show_message.fromUser_id == @current_user.id) %>
           <p  style="text-align:right">
              <small><%=@show_message.created_at.strftime("%Y/%m/%d %H:%M")%></small>
              <b> <%=" < "+@show_message.fromName%> </b>
           </p>
     <% else %>
           <p>
         <% if @show_message.fromUser_id %>
           <b><%= link_to @show_message.fromUser.name.capitalize, '/users/'+@show_message.fromUser.name, remote: true, onclick: "linkHandler('user')"%> ></b>
         <% else %>
           <b><%=@show_message.fromName%></b> (guest)<b> ></b>
         <% end %>

             <small><%=@show_message.created_at.strftime("%Y/%m/%d %H:%M")%></small>
           </p>
     <% end %>


     <% message=@show_message.message.html_safe%>
     <%if signed_in? and (@show_message.fromUser_id == @current_user.id)%>
          <div class="rightbuttons">
                  <%= form_tag '/forums/destroy', :remote=> true, :method=> 'post'%>
                    <input type="hidden" name="selected_id" value='<%=@show_message.id%>' />
                    <input type="hidden" name="id" value='<%=@id%>' />
                    <input type="hidden" name="subject" value='<%=@subject%>' />
                    <%= submit_tag "Destroy",  :type => :image, :src => '/assets/red-x.png', :style => 'margin-bottom:0;border:none',  id: "Approve", onclick: "linkHandler('approve')", confirm: "Do you really ant to delete this message?"   %>
                  </form>
         </div>
          <p class="left-bubble">
            <%= h(message).gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %>
          </p>
     <%else%>
          <div class="leftbuttons">
               <% if (signed_in? and @current_user.role.id>1) %>
                 <% if @show_message.approved==false %>
                    <%= form_tag '/forums/approve', :remote=> true, :method=> 'post'%>
                      <input type="hidden" name="selected_id" value='<%=@show_message.id%>' />
                      <input type="hidden" name="id" value='<%=@id%>' />
                      <input type="hidden" name="subject" value='<%=@subject%>' />
                      <span title="Approve message">
                        <%= submit_tag "Approve",  :type => :image, :src => '/assets/tick.png', :style => 'margin-bottom:0;border:none',  id: "Approve", onclick: "linkHandler('approve')"  %>
                      </span>
                    </form>
                  <% end %>
          </div>
          <div class="leftbuttons">
                 <% if @show_message.approved==false or @current_user.role_id==3 %>
                    <%= form_tag '/forums/destroy', :remote=> true, :method=> 'post'%>
                      <input type="hidden" name="selected_id" value='<%=@show_message.id%>' />
                      <input type="hidden" name="id" value='<%=@id%>' />
                      <input type="hidden" name="subject" value='<%=@subject%>' />
                      <span title="Delete message">
                        <%= submit_tag "Destroy",  :type => :image, :src => '/assets/red-x.png', :style => 'margin-bottom:0;border:none',  id: "Approve", onclick: "linkHandler('approve')", confirm: "Do you really ant to delete this message?"  %>
                      </span>
                    </form>
                 <% end %>
               <% end %>
         </div>
          <p class="right-bubble">
            <%= h(message).gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %>
          </p>
     <% end %>

