<% provide(:title, 'Forum') %>
<% @title=" | Forum" %>
<%= render 'flash' %>
<script>
   update_title('<%=@title%>');
   reset_map_controllers(<%=if @current_user then @current_user.id.to_s end%>);
   document.getElementById("page_status").innerHTML = '';
</script>
  <div class="erow-10px"><%= link_to "All topics-> ", '/forums/'+@id.to_s, remote: true, :id => 'all_link', :onclick => "linkHandler('all_link')" %>
  <% if @messages and @messages.count>0 %>
    <b><%=link_to @messages.first.subject.capitalize, '/forums/'+@id.to_s+'/?thread='+URI.escape(@messages.first.subject), remote: true, :id => 'thread_link', :onclick => "linkHandler('thread_link')" %> </b></div>
  <% else %>
    Empty thread
  <% end %>

  <%=render 'message_form'%>
  <% if @messages and @messages.count>0%>
    <b><%=@messages.first.subject.capitalize%></b>
    <% @messages.reverse.each do |message| %>
      <div class="erow">
           <% @show_message=message %>
           <%= render 'message_details' %>
       </div>
    <% end %>
  <% end %>
<div class="erow">
 <div class="hrline">
    <hr noshade size="4">
 </div>
</div>

