

     <%="From "+Route.find_by_signed_id(@rt_list.route.reverse.first).startplace.name%>

     <% @rt_list.route.reverse.each do |rt_id| %>
       <%
          @route=Route.find_by_signed_id(rt_id) 
          @hideAll=1  %>
       <%=render '/routes/route_brief'%> 
     <% end %>
     <div class="subrow">
            <% if @rt_list.distance %>
               <%= "Distance: "+@rt_list.distance.round(1).to_s+" km  " %>
            <%end %>
            <% if @rt_list.time %>
               <%="("+@rt_list.time.round(1).to_s+" DOC hours)"  %>
            <% end %>
            <% if @rt_list.maxRouteType_.name!='Unknown'%>
               <%=" - "+@rt_list.maxRouteType_.name%>
            <% end %>
            <% if @rt_list.maxTerrain_.name!='Unknown'%>
               <%=" - "+@rt_list.maxTerrain_.name+" terrain"%>
            <% end %>
               <br/>
               <%= "Altitude - max: "+@rt_list.maxAlt.to_i.to_s+"m  min: "+@rt_list.minAlt.to_i.to_s+"m"+
                  "  gain: "+@rt_list.altGain.to_i.to_s+"m  loss: "+@rt_list.altLoss.to_i.to_s+"m" %>
               <% if @rt_list.distance>0 %>
                  <%="  gradient: "+(Math.tan((@rt_list.altGain+@rt_list.altLoss)/(@rt_list.distance*1000))*180/Math::PI).to_i.to_s+" deg"%>
               <% end %>
               <% if @rt_list.maxGradient_.name!='Unknown'%>
                  <%="("+@rt_list.maxGradient_.name+")"%>
               <% end %><br/>
            Skills:
            <% if @rt_list.maxAlpineS_.name!='Unknown' and @rt_list.maxAlpineS_.name!='None' %>
               <%=@rt_list.maxAlpineS_.name%><%=" ("+(@rt_list.maxAlpineS-@alpines.minimum(:id)).to_s+"/"+(@alpines.maximum(:id)-@alpines.minimum(:id)).to_s+") "%>
            <% end %>
            <% if @rt_list.maxRiver_.name!='Unknown' and @rt_list.maxRiver_.name!='None' %>
               <%=" - "+@rt_list.maxRiver_.name%>
               <%=" ("+(@rt_list.maxRiver-@rivers.minimum(:id)).to_s+"/"+(@rivers.maximum(:id)-@rivers.minimum(:id)).to_s+") "%>
            <% end %>
            <% if @rt_list.maxAlpineW_.name!='Unknown' and @rt_list.maxAlpineW_.name!='None' %>
               Winter - <%=@rt_list.maxAlpineW_.name%>
               <%=" ("+(@rt_list.maxAlpineW-@alpinews.minimum(:id)).to_s+"/"+(@alpinews.maximum(:id)-@alpinews.minimum(:id)).to_s+")"%>
            <% end %>

     </div>
     <div class="subrow">
        <%=  link_to 'View Route', '/routes/'+@rt_list.url, class: "btn btn-small btn-primary", remote: true, onclick: %q[linkHandler('r]+@rt_list.url+%q[')], id:  'r'+@rt_list.url  %> 
     </div>


