<% provide(:title, 'History') %>
<% @title=" | History" %>
<%= render 'flash' %>

<script>
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
   reset_map_controllers(<%=if @current_user then @current_user.id.to_s end%>);
</script>
  <%=link_to @item.name, @item, remote: true, :id => 'item_link', :onclick =>  "linkHandler('item_link')"%>

  <ul class="history">
    <% if @item_instances %>
       <% @item_instances.each do |item| %>
         <li>
           <%= link_to "Revision "+item.revision_number.to_s, '/history/'+params[:id]+'-'+item.id.to_s, remote: true, :id => 'item_link_'+item.id.to_s, :onclick => "linkHandler('item_link_"+item.id.to_s+"')" %></li>
               Created by: <%= link_to item.createdBy.name.capitalize, '/users/'+item.createdBy.name, remote: true%> (<%if item.createdBy.hide_name%>Anonymous<%else%><%=item.createdBy.firstName%> <%=item.createdBy.lastName%><%end%>) on <%=item.updated_at.localtime().strftime("%F %T")%>
               <% if item.try("experienced_at") and item.experienced_at.strftime("%F")>"1900-01-01" %>. Experienced <%=item.experienced_at.strftime("%F")%>.<%end%>
         </li>
       <% end %>
     <% end %>
  </ul>

