<% provide(:title, "History | "+@itemType) %>
<% @title=" | History | "+@itemType %>
<%= render 'flash' %>
<script> 
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
</script>
 <div class="erow">
   <div class="sectiontitle"><%="Historical version of "+@itemType+" "+@item.id.to_s+", revision "+@item_instance.revision_number.to_s+"/"+@item.revision_number.to_s+" from "+@item_instance.created_at.localtime().strftime("%F %T")%></div>
 </div>
 <div class="erow"><div class="hrline"> <hr noshade size="4"> </div></div>

<% if @itemType == 'report' %>
   <div id='place_details'>
      <%= render 'reports/report_details' %>
   </div>
<% end %>
<% if @itemType == 'place' %>
   <div id='place_details'>
      <%= render 'places/place_details' %>
   </div>
<% end %>
<% if @itemType == 'route' %>
   <div id='place_details'>
      <%= render 'routes/route_details' %>
   </div>
<% end %>
    <%= form_for  @item, :url => '/history/'+params[:id], :html => {:name => 'historyform'}, remote: true  do |f| %>
<% if signed_in? %>
           <%= f.submit "Make current", class: "btn btn-small btn-primary", name: "current", onclick: "linkHandler('makeCurrent')", id: "makeCurrent" %>
           <% if (@current_user.id == @item_instance.updatedBy_id  or @current_user.role.name=="root") and @item_instances.count>1%>
             <%= f.submit "Delete", class: "btn btn-small btn-primary", name: "delete", onclick: "linkHandler('delete')", id: "delete" %>
           <% end %>
<% end %>
           <%=  link_to "History", '/history/'+@itemType+"-"+@item.id.to_s, class: "btn btn-small btn-primary",  remote: true, onclick: "linkHandler('histbutton')", id:  "histbutton"  %>
<% if signed_in? %>
           <%=  link_to "Merge into", '#', class: "btn btn-small btn-primary",  onclick: %q{document.getElementById('merge_div').style.display="block";return false;}, id:  "histbutton"  %>
           <div class="erow" id="merge_div" style="display:none">
             Destination route/place ID: <input type="text" name="merge_id"/>
             <%= f.submit "Merge", class: "btn btn-small btn-primary", name: "current", onclick: "linkHandler('mergeInto')", id: "mergeInto" %>
           </div> 
<% end %>
       <% end %>
    </form>

