<script language="JavaScript">
    $(document).ready(function () {
        load_new_map(); 
    });

$(window).resize(function() {
    resize_map();
});

function load_new_map() {

  /* get initial dimensions of map and store in fields */
  zoom = <%=@zoom%>;
  x = <%=@x%>;
  y = <%=@y%>;
  minx=x-2000*zoom;
  maxx=x+2000*zoom;

  map_width = $('#map').width();
  map_height = $(window).height()-200;

  /* calculate maxy from ratio of dimensions of map */
  miny=y-(map_height/map_width)*(maxx-minx)/2;
  maxy=y+(map_height/map_width)*(maxx-minx)/2;

  /* store value on form */
  document.pointform.form_x.value = <%=@x%>
  document.pointform.form_y.value = <%=@y%>
  document.pointform.form_minx.value = minx;
  document.pointform.form_miny.value = miny;
  document.pointform.form_maxx.value = maxx;
  document.pointform.form_maxy.value = maxy;
  document.pointform.form_zoom.value = zoom;
  document.pointform.action.value = "0";

  load_map();
}

function resize_map() {
  /* new window size */
  width = $('#map').width();
  height = $(window).height()-200;

  /* existing coordinates */
  minx=document.pointform.form_minx.value;
  maxx=document.pointform.form_maxx.value;
  centrey=document.pointform.form_y.value;

  map_width = $('#map').width();
  map_height = $(window).height()-200;

  /* calculate min and maxy from ratio of dimensions of map, keeping centre fixed*/
  maxy=centrey+(map_height/map_width)*(maxx-minx)/2;
  miny=centrey-(map_height/map_width)*(maxx-minx)/2;

  /* store value on form */
  document.pointform.form_minx.value = minx;
  document.pointform.form_miny.value = miny;
  document.pointform.form_maxx.value = maxx;
  document.pointform.form_maxy.value = maxy;
  
  load_map();
    
}
   
function get_coords(event){
  /* set up dimension from those passed by rails if they are undefined */
  minx = Number(document.pointform.form_minx.value);
  miny = Number(document.pointform.form_miny.value);
  maxx = Number(document.pointform.form_maxx.value);
  maxy = Number(document.pointform.form_maxy.value);
  zoom = Number(document.pointform.form_zoom.value);


  /* get dimensions of current map */
  var img = document.getElementById('mainImage'); 
  var width = img.clientWidth;
  var height = img.clientHeight;
 
  /* get x,y in pixels of click position */
   pos_x = event.offsetX?(event.offsetX):event.pageX-document.getElementById("pointer_div").offsetLeft;
   pos_y = event.offsetY?(event.offsetY):event.pageY-document.getElementById("pointer_div").offsetTop;

  /* calculate the x,y as a grid reference */
  coord_x =  pos_x*(maxx-minx)/width+minx;
  coord_y = maxy-pos_y*(maxy-miny)/height; 

  /* if in edit mode, update the user's form with new location */
  /* NB: will need to make this generic for all forms */
  <% if @edit %>
      document.placeform.place_location.value = coord_x + " " + coord_y;
  <% end %>

  if(document.pointform.action.value != "draw") 
  {
    if(document.pointform.action.value == "-2") zoom=zoom*4;
    if(document.pointform.action.value == "-1") zoom=zoom*2;
    if(document.pointform.action.value == "1") zoom=zoom/2;
    if(document.pointform.action.value == "2") zoom=zoom/4;
    minx=coord_x-2000*zoom;
    maxx=coord_x+2000*zoom;

    map_width = $('#map').width();
    map_height = $(window).height()-200;

    /* calculate maxy from ratio of dimensions of map */
    miny=coord_y-(map_height/map_width)*(maxx-minx)/2;
    maxy=coord_y+(map_height/map_width)*(maxx-minx)/2;
  }
  /* update out debug fields to display it */
  document.pointform.form_x.value = coord_x;
  document.pointform.form_y.value = coord_y;
  document.pointform.form_minx.value = minx;
  document.pointform.form_miny.value = miny;
  document.pointform.form_maxx.value = maxx;
  document.pointform.form_maxy.value = maxy;
  document.pointform.form_zoom.value = zoom;

  /* redisplay the max if required */
  if(document.pointform.action.value != "draw") 
  {
    load_map();
  }
}


/* load map function - takes coords of bottom left, top right */
function load_map() {
  minx = Number(document.pointform.form_minx.value);
  miny = Number(document.pointform.form_miny.value);
  maxx = Number(document.pointform.form_maxx.value);
  maxy = Number(document.pointform.form_maxy.value);
  zoom = Number(document.pointform.form_zoom.value);


  /* get list of layers based on zoom */
  layer="&layer=topo4000"; 

  if (zoom<4) { /*topo 50 */
     layer="&layer=topo50"; 

  }

 if (zoom>=4 && zoom<32){ /*topo 250 */
     layer="&layer=topo250"; 
 
  }


  /*calculate the size of the image = size of the div we have to display it in */
  map_size = $('#map').width()+"+"+($(window).height()-200);
  map_extent=minx+"+"+miny+"+"+maxx+"+"+maxy;
  newMapUrl = '/cgi-bin/mapserv?map=/ms4w/apps/matts_app/htdocs/example1-5.map&mode=map'+layer+'&map_extent='+map_extent+"&map_size="+map_size;

  /* be nice to show a spinner somwehere to show it is loading */
  /*        $('#mainImage').hide();*/

  /* load map and register a callback to be run once loaded to update image on page */
  /*$('#imageWrap').css('background-image', "url('ajax-loader.gif')");*/
  var i = $('<img />').attr('src',newMapUrl).load(function() {
    $('#mainImage').attr('src', i.attr('src'));
    $('#imageWrap').css('background-image', 'none');
    $('#mainImage').fadeIn();
  });
}


</script>

<div id="map_map">
<div id="imageWrap">
  <img alt="Main Image" id="mainImage" onclick="get_coords(event)" src="/defaultMap.jpg">
</div>
</div>

<div id="map_controls">
<%= form_tag '/redisplay', :remote=> true, :id => "thelink", :name=> 'pointform', :method=> 'post'%>
  <div align="center">
     <input type="radio" name="action" value="draw"> draw
     <input type="radio" name="action" value="-2"> -2
     <input type="radio" name="action" value="-1"> -1
     <input type="radio" name="action" value="0"> 0
     <input type="radio" name="action" value="1"> +1
     <input type="radio" name="action" value="2"> +2
  </div>
  <div class="row">
     <input type="text" name="form_x" size="1" /> 
     <input type="text" name="form_y" size="1" />
     <input type="hidden" name="form_minx" size="1" /> 
     <input type="hidden" name="form_miny" size="1" />
     <input type="hidden" name="form_maxx" size="1" /> 
     <input type="hidden" name="form_maxy" size="1" />
     <input type="hidden" name="form_zoom" size="1" /> 
  </div>
</form>
</div>



