<% provide(:title, "Edit User | "+@user.name) %>
<% @title=" | Edit User | "+@user.name %>

<script> update_title('<%=@title%>'); </script>
<div class="row">
    <%= form_for @user, remote: true do |f| %>
      <%= render 'flash' %>
      <%= render 'shared/error_messages' %>

      <%= "Username" %>
      <%= f.text_field :name %>

      <%= "First Name" %>
      <%= f.text_field :firstName %>

      <%= "Last Name" %>
      <%= f.text_field :lastName %>
  
      <%= "Hide my real name: " %><br/>
      <%= f.check_box :hide_name%><br/><br/>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes", class: "btn btn-small btn-primary" %>
    <% end %>
</div>
