<% provide(:title, @user.name) %>
<% @title=" | User | "+@user.name %>
<%= render 'flash' %>
<%= render 'application/mail_status' %>


<script> 
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
</script>
<div class="sectiontitle">
<%= @user.name.capitalize %><br/>
<br/>

</div>
 <div class="erow">
    <% if(signed_in? and ((@user.id==@current_user.id) or (@current_user.role==Role.find_by( :name => 'root')))) %>
       <%= @user.firstName.capitalize+" "+@user.lastName.capitalize %><br/>
       </div><div class="erow">
       Anonymity enabled: <%if @user.hide_name%>True<%else%>False<%end%><br/>
    <% else %>
       <% if (@user.firstName and @user.lastName and !@user.hide_name) %> 
         <%= @user.firstName.capitalize+" "+@user.lastName.capitalize %><br/>
       <% else %>
         <%= 'Anonymous' %><br/>
       <% end %>
    <% end %>
 </div>
<%     if(signed_in? and ((@user.id==@current_user.id) or (@current_user.role==Role.find_by( :name => 'root')))) %>
 <div class="erow">
     Email: <%= @user.email %>
 </div>
<%end%>
 <div class="erow">
     Last visited: <%= @user.lastVisited.to_s %><br/><br/>
 </div>
<%     if(signed_in? and ((@user.id==@current_user.id) or (@current_user.role==Role.find_by( :name => 'root')))) %>
 <div class="erow">
  <%=  link_to "Edit", '/users/'+@user.name+'/edit', class: "btn btn-small btn-primary", remote: true %><br/>
 </div>
<%end%>
<% @reports = @user.reports %>
<%= render 'reports/index_details' %>

<div class="erow">&nbsp;</div>

<% @trips = @user.trips.select{ |trip| trip.published }  %>
<%= render 'trips/index_details' %>


  <div class="sectiontitle">
    Draft routes: 
  </div>
  <% @routes = @user.routes.select{ |route| !route.published }  %>
  <% @hidetitle=true %>
  <%= render 'routes/index_details' %>
