<% provide(:title, @user.name) %>
<% @title=" | User | "+@user.name %>
<%= render 'flash' %>

<script> 
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
</script>
<div class="sectiontitle">
<%= @user.name.capitalize %><br/>
<br/>

</div>
 <div class="erow">
     <% if (@user.firstName and @user.lastName) %> 
       <%= @user.firstName.capitalize+" "+@user.lastName.capitalize %><br/>
     <% end %>
 </div>
<%     if(signed_in? and ((@user.id==@current_user.id) or (@current_user.role==Role.find_by( :name => 'root')))) %>
 <div class="erow">
     Email: <%= @user.email %>
  <%=  link_to "Edit", '/users/'+@user.name+'/edit', class: "btn btn-small btn-primary", remote: true %><br/>

 </div>
<%end%>
 <div class="erow">
     Last visited: <%= @user.lastVisited.to_s %><br/><br/>
 </div>
<% @reports = @user.reports %>
<%= render 'reports/index_details' %>

<div class="erow">&nbsp;</div>

<% @trips = @user.trips.select{ |trip| trip.published }  %>
<%= render 'trips/index_details' %>
