<% if @user %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="erow">
      <div class="alert alert-error">
        The form contains <%= pluralize(@user.errors.count, "error") %>.
      </div>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<% if @place %>
  <% if @place.errors.any? %>
    <div id="error_explanation" class="erow">
      <div class="alert alert-error">
        The form contains <%= pluralize(@place.errors.count, "error") %>.
      </div>
      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<% if @route %>
  <% if @route.errors.any? %>
    <div id="error_explanation" class="erow">
      <div class="alert alert-error">
        The form contains <%= pluralize(@route.errors.count, "error") %>.
      </div>
      <ul>
      <% @route.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
