<div id="place_details">
   <% if !@itemNumber then @itemNumber=1 else @itemNumber+=1 end %>
   <!-- Place title and add/remove buttons if in edit mode-->
   <div class="erow">
      <%= link_to image_tag(@photo.image.url(:original)), @photo.image.url(:original), :target=>"_blank" %>
   </div>      
   <div class="erow">
      <%  if(signed_in? and !@trip) %>
         <div class="leftbuttons">
            <span title="Edit">
                <%=  link_to image_tag("/assets/pencil_edit.png", :border=>0, :class => 'dock-item'), '/photos/'+@photo.id.to_s+'/edit', remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton"  %>
            </span>

         </div>
      <% end %>

      <div class="sectiontitle25">
         <%= link_to @photo.name, @photo, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %>
      </div>
   <%  # convert to NZTM2000 (EPSG:2193) for display 
       if @photo.location then
         fromproj4s= Projection.find_by_id(4326).proj4
         toproj4s= Projection.find_by_id(2193).proj4
         fromproj=RGeo::CoordSys::Proj4.new(fromproj4s)
         toproj=RGeo::CoordSys::Proj4.new(toproj4s)
  
         xyarr=RGeo::CoordSys::Proj4::transform_coords(fromproj,toproj,@photo.location.x, @photo.location.y)
         #convery location to readable format
         x=xyarr[0]
         y=xyarr[1]
       else
         x=0
         y=0
       end
   %>

      <!-- Place location and max/mix buttons -->
      <div class="subrow">
         <div class="sectiontitle" style="font-weight:normal">
            <%= "NZTM2000: "+x.to_i.to_s+", "+y.to_i.to_s %>
         </div>
      </div>
      <div class="sectiontext25">
        <%= simple_format(@photo.description).html_safe %>
      </div>
   </div>


   <div class="sectiontext">
      <!-- Place author details (if any) -->
       <% if @photo.createdBy_id %>
          <small color="greyLight">
      	     Created by: <%= link_to @photo.createdBy.name.capitalize, '/users/'+@photo.createdBy.name, remote: true%> on <%=@photo.created_at.localtime().strftime("%F")%>. Last updated: <%=@photo.updated_at.localtime().strftime("%F %T")%><br/>
          <%= if (@photo.author and @photo.author.length>0) or @photo.taken_at then "Taken" end %>
          <%= if @photo.author and @photo.author.length>0 then " by: "+@photo.author+" " end  %>
          <%= if @photo.taken_at then " on "+@photo.taken_at.strftime("%F") end  %>
          </small>
       <% end %>
    </div>
</div>

<script>
/*    reset_map_controllers(); */
    place_init('<%=@photo.location%>',1);
</script>
