<% provide(:title, "Photo | "+@photo.name) %>
<% @title=" | Photo | "+@photo.name %>
<%= render 'flash' %>
<%= render 'application/mail_status' %>

<script> 
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
   // clear any existing map features and reset hover if map exists
   if(typeof(vectorLayer)!='undefined') {
    reset_map_controllers(<%=if @current_user then @current_user.id.to_s end%>);
    map_clear_scratch_layer();
   }

</script>
<div id="actionbar" class="span7">
   <div id="crumbs"></div>
   <div id="controls">
       <%= render :partial => 'mytrip_button'%>
   </div>
</div>
<div id='place_container'>

<div id='place_details'>
   <%= render 'photos/photo_details' %>
     <div class="erow">
        <div class="hrline">
           <hr noshade size="4">
        </div>
     </div>
</div>
<div id="links_section">
  <% if @editlinks and signed_in? %>
    <div class="erow">
      <div class="leftbuttons">
         <span title="Close editing">
           <%=  link_to image_tag("/assets/red-x.png", :border=>0, :class => 'dock-item'), '/photos/'+@photo.id.to_s, remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton"  %>
         </span>
      </div>
      <div class="sectiontitle-bold" id="links_title">
        Edit Links:
      </div>
    </div>
    <div id="editlinks">
      <%=render :partial => 'links_form',  :locals => {:parent => @photo, :parent_type=>'photo'} %>
    </div>
  <% else %>
    <div class="erow">
      <div class="sectiontitle" id="links_title">
        Links:
        <% if signed_in? %>
          <span title="Edit links" id="edit_links">
            <%=  link_to 'Add / edit links', '/photos/'+@photo.id.to_s+'/?editlinks=true', remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton", class: 'link_to'  %>
          </span>
        <% end %>
      </div>
    </div>
    <%=render :partial => 'links_photos',  :locals => {:parent => @photo} %>
    <div class="erow"><div class="hrline"> <hr noshade size="2"> </div></div>
    <%=render :partial => 'links_details',  :locals => {:parent => @photo} %>
  <% end %>
    <div class="erow"><div class="hrline"> <hr noshade size="4"> </div></div>
   <div id="comments_section">
     <%=render :partial => 'comments/comments_brief',  :locals => {:itemType => "photo", :itemId => @photo.id} %>
   </div>

</div>
</div>
<script>
    if(site_map_size!=1) { 
       $('#actionbar').removeClass('span7');
       var cl=document.getElementById('right_panel').className;
       $('#actionbar').addClass(cl);
    }
</script>
