<% provide(:title, "Photo | "+@photo.name) %>
<% @title=" | Photo | "+@photo.name %>
<%= render 'flash' %>
<%= render 'application/mail_status' %>

<script> 
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
   // clear any existing map features and reset hover if map exists
   if(typeof(vectorLayer)!='undefined') {
    reset_map_controllers();
   }

</script>
<div id='place_details'>
   <%= render 'photos/photo_details' %>
     <div class="erow">
        <div class="hrline">
           <hr noshade size="4">
        </div>
     </div>
</div>
<div id="links_section">
  <% if @editlinks and signed_in? %>
    <div class="erow">
      <div class="leftbuttons">
         <span title="Close editing">
           <%=  link_to image_tag("/assets/red-x.png", :border=>0, :class => 'dock-item'), '/photos/'+@photo.id.to_s, remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton"  %>
         </span>
      </div>
      <div class="sectiontitle-bold">
        Edit Links:
      </div>
    </div>
    <div id="editlinks">
      <%=render :partial => 'links_form',  :locals => {:parent => @photo, :parent_type=>'photo'} %>
    </div>
  <% else %>
    <div class="erow">
      <% if signed_in? %>
        <div class="leftbuttons">
          <span title="Edit links"%>
            <%=  link_to image_tag("/assets/pencil_edit.png", :border=>0, :class => 'dock-item'), '/photos/'+@photo.id.to_s+'/?editlinks=true', remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton"  %>
          </span>
        </div>
      <% end %>
      <div class="sectiontitle-bold">
        Links:
      </div>
    </div>
    <%=render :partial => 'links_photos',  :locals => {:parent => @photo} %>
    <div class="erow"><div class="hrline"> <hr noshade size="2"> </div></div>
    <%=render :partial => 'links_details',  :locals => {:parent => @photo} %>
  <% end %>
</div>
