<% provide(:title, 'Routes') %>
<% @title=" | Routes" %>
<%= render 'flash' %>

<script>
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
   reset_map_controllers(<%=if @current_user then @current_user.id.to_s end%>);

$(function () {
  $('#right_panel .pagination a').on('click', function () {
    $.getScript(this.href);
    return false;
  });
})

</script>
<div id="actionbar" class="span7">
   <div id="crumbs"></div>
   <div id="controls">
       <%= render :partial => 'mytrip_button'%>
   </div>
</div>

<div id='place_container'>
<%if @order=='latest'%>
  <div class="date_pagination"> <%= will_paginate(@routes) %></div>
<% else %>
  <div class="name_pagination"> <%= will_paginate(@routes) %></div>
<% end %>


  <ul class="places">
    <% @routes.each do |ri| %>
      <li>
        <%= link_to ri.url, '/search/?route_startplace_id='+ri.startplace_id.to_s+'&route_endplace_id='+ri.endplace_id.to_s, remote: true, :id => 'route_link_'+ri.id.to_s, :onclick => "linkHandler('route_link_"+ri.id.to_s+"')" %>
 
      </li>
   <% end %>
  </ul>

<%if @order=='latest'%>
  <div class="date_pagination"> <%= will_paginate(@routes) %></div>
<% else %>
  <div class="name_pagination"> <%= will_paginate(@routes) %></div>
<% end %>
</div>

<script>
    if(site_map_size!=1) { 
       $('#actionbar').removeClass('span7');
       var cl=document.getElementById('right_panel').className;
       $('#actionbar').addClass(cl);
}
</script>
