<% provide(:title, 'Legs') %>
<% @title=" | Legs" %>
<%= render 'flash' %>

<script>
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
   reset_map_controllers();

$(function () {
  $('#right_panel .pagination a').on('click', function () {
    $.getScript(this.href);
    return false;
  });
})

</script>

<%if @order=='latest'%>
  <div class="date_pagination"> <%= will_paginate(@routes, :renderer => PaginationListLinkRenderer, :order => @order, :inner_window => 3) %></div>
<% else %>
  <div class="name_pagination"> <%= will_paginate(@routes, :renderer => PaginationListLinkRenderer, :order => @order) %></div>
<% end %>

  <ul class="places">
    <% @routes.each do |route| %>
      <li>
        <% if !route.published %>Draft: <%end%>
        
        <%= link_to route.name, route, remote: true, :id => 'route_link_'+route.id.to_s, :onclick => "linkHandler('route_link_"+route.id.to_s+"')" %>
        <% if @order and @order == 'latest' %>
          <br/><%if route.createdBy %> added by <%= link_to route.createdBy.name.capitalize, '/users/'+route.createdBy.name, remote: true%> <% end %> <% if route.updatedBy %> (last updated <%=route.updated_at.strftime("%F")%> by <%= link_to route.updatedBy.name.capitalize, '/users/'+route.updatedBy.name, remote: true%>) <% end %>
        <% end %> 
      </li>
    <% end %>
  </ul>

<%if @order=='latest'%>
  <div class="date_pagination"> <%= will_paginate(@routes, :renderer => PaginationListLinkRenderer, :order => @order, :inner_window => 3) %></div>
<% else %>
  <div class="name_pagination"> <%= will_paginate(@routes, :renderer => PaginationListLinkRenderer, :order => @order) %></div>
<% end %>
