<div id="route_details">    
  <div class="erow">
    <%  if(signed_in? and !@trip) %>
       <div class="leftbuttons">
          <span title="Edit">
              <%=  link_to image_tag("/assets/pencil_edit.png", :border=>0, :class => 'dock-item'), '/routes/'+@route.id.to_s+'/edit', remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton"  %>
          </span>
       </div>
    <% end %>

    <div class="sectiontitle">
     <% if !@history %>
        <%= link_to @route.startplace.name+" to "+@route.endplace.name+" via "+@route.via, 
          @route, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %>
      <% else %>
        <%=@route.startplace.name+" to "+@route.endplace.name+" via "+@route.via %>
     <% end %>

    </div>
 
    <div class="sectiontext">
       <% if @route.distance %>
         <%= "Distance: "+@route.distance.round(1).to_s+" km " %>
       <%end %>
       <% if @route.time %>
         <%="("+@route.time.round(1).to_s+" DOC hours)"  %>
         <br/>
       <% end %>
       <% if @route.location %>
         <%= "Altitude - Max: "+@route.maxalt.to_i.to_s+"m  Min: "+@route.minalt.to_i.to_s+"m"+
              "  Gain: "+@route.altgain.to_i.to_s+"m  Loss: "+@route.altloss.to_i.to_s+"m"+
              "  Gradient: "+((@route.altgain+@route.altloss)*45/(@route.distance*1000)).to_i.to_s+" deg"%>
       <%end %><br/>
        <i><%= "GPX info source: "+@route.datasource %></i>
      <br/>
      <br/>
    </div>
 </div>

    <% if @route.description %>
      <% if @route.description.length > 0 %>
        <div class="erow">
          <%=render :partial => 'expand_buttons',  :locals => {:expName => "fw_r"+@route.id.to_s, :initialSt => @showForward} %>
          <div class="sectiontitle">  
             From <%= link_to @route.startplace.name,    @route.startplace, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %>
             to <%= link_to @route.endplace.name,    @route.endplace, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %> 
          </div>
        </div>
        <div id='<%="fw_r"+@route.id.to_s%>' class="sectiontext" style=<%=if (@showForward==1) then "display:block" else "display:none" end %> >
          <%= simple_format(@route.description).html_safe %>
        </div>
      <% end %>
    <% end %>


    <% if @route.reverse_description %>
      <% if @route.reverse_description.length > 0 %>
        <div class="erow">
          <%=render :partial => 'expand_buttons',  :locals => {:expName => "rv_r"+@route.id.to_s, :initialSt => @showReverse} %>
          <div class="sectiontitle">
              From <%= link_to @route.endplace.name,    @route.endplace, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %> 
              to <%= link_to @route.startplace.name,    @route.startplace, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %>
          </div>
        </div>
        <div id='<%="rv_r"+@route.id.to_s%>' class="sectiontext" style=<%=if (@showReverse==1) then "display:block" else "display:none" end %>>
           <%= simple_format(@route.reverse_description).html_safe %>
        </div>
      <% end %>
    <% end %>


    <div class="erow">
      <%=render :partial => 'expand_buttons',  :locals => {:expName => "cn_r"+@route.id.to_s, :initialSt => @showConditions} %>
      <div class="sectiontitle">
        Route conditions:
      </div>
    </div>
    <div id='<%="cn_r"+@route.id.to_s%>' class="sectiontext" style=<%=if (@showConditions==1) then "display:block" else "display:none" end %>>
      <p>
          <div class="diff_label">Route Type:</div> <%=@route.routetype.name%>
          <%="(difficulty: "+(@route.routetype_id-@route_types.minimum(:id)).to_s+"/"+(@route_types.maximum(:id)-@route_types.minimum(:id)).to_s+")"%><br/>
          <i><%=@route.routetype.description%></i>
      </p>
      <p>
          <div class="diff_label">Gradient:</div> <%=@route.gradient.name%>
          <%="(difficulty: "+(@route.gradient_id-@gradients.minimum(:id)).to_s+"/"+(@gradients.maximum(:id)-@gradients.minimum(:id)).to_s+")"%><br/>
        <i><%=@route.gradient.description%></i>
      </p>
      <p>
          <div class="diff_label">Terrain:</div> <%=@route.terrain.name%>
          <%="(difficulty: "+(@route.terrain_id-@terrains.minimum(:id)).to_s+"/"+(@terrains.maximum(:id)-@terrains.minimum(:id)).to_s+")"%><br/>
        <i><%=@route.terrain.description%></i>
      </p>
      <p>
          <div class="diff_label">Alpine:</div> <%=@route.alpinesummer.name%>
          <%="(difficulty: "+(@route.alpinesummer_id-@alpines.minimum(:id)).to_s+"/"+(@alpines.maximum(:id)-@alpines.minimum(:id)).to_s+")"%><br/>
        <i><%=@route.alpinesummer.description%></i>
      </p>
      <p>
          <div class="diff_label">Rivers:</div> <%=@route.river.name%>
          <%="(difficulty: "+(@route.river_id-@rivers.minimum(:id)).to_s+"/"+(@rivers.maximum(:id)-@rivers.minimum(:id)).to_s+")"%><br/>
        <i><%=@route.river.description%></i>
      </p>

    <div class="sectiontitle">Winter conditions:</div></br>
    <p>
          <div class="diff_label">Alpine:</div> <%=@route.alpinewinter.name%>
          <%="(difficulty: "+(@route.alpinewinter_id-@alpines.minimum(:id)).to_s+"/"+(@alpines.maximum(:id)-@alpines.minimum(:id)).to_s+")"%><br/>
      <i><%=@route.alpinewinter.description%></i>
    </p>
    <p>
        <%= simple_format(@route.winterdescription).html_safe %>
    </p>
  </div>


   
  <% if @route.links %>
    <% if @route.links.length>0 %>
        <div class="erow">
          <%=render :partial => 'expand_buttons',  :locals => {:expName => "lk_r"+@route.id.to_s, :initialSt => @showLinks} %>
           <div class="sectiontitle">
            Further Information:
          </div>
          <div id='<%="lk_r"+@route.id.to_s%>' class="sectiontext" style=<%=if (@showLinks==1) then "display:block" else "display:none" end %>>
            <%= @route.links %>
          </div>
        </div>
     <% end %>
   <% end %>

   <small> 
     <% if @route.createdBy_id %>
       Created by: <%= link_to @route.createdBy.name, '/users/'+@route.createdBy_id.to_s, remote: true%> on <%=@route.firstcreated_at%>. Last updated: <%=@route.updated_at%>
<% if !@history%>
   <%= link_to "View history", '/history/route-'+@route.id.to_s, remote: true, :id => 'history', :onclick =>"linkHandler('history')" %>
<% end %>
     <% end %>
   </small>

</div>

<script>

 route_init('<%=@route.startplace.location%>', '<%=@route.endplace.location%>', '<%=@route.location%>', 1);

</script>
