<div id='route_details'>

    <div class="sectiontitle">
      <%= @route.startplace.name+" to "+@route.endplace.name+" via "+@route.via %>
    </div>
 
    <p>
    <br/> 
    <% if @route.distance %>
      <%= "Distance: "+@route.distance.round(1).to_s+" km " %>
    <%end %>
    <% if @route.time %>
      <%="("+@route.time.round(1).to_s+" DOC hours)"  %>
    <% end %>
    </p>


    <% if @route.description %>
      <% if @route.description.length > 0 %>
        <div class="expandrow">
          <div class="expandbuttons">
            <img id='<%="forwards_r"+@route.id.to_s+"plus"%>' src="/assets/whiteplus.png" <%=%q[onclick=clickplus('forwards_r]+@route.id.to_s+%q[')]%> width=<%=(16*(1-@showForward)).to_s%>></img>
            <img id='<%="forwards_r"+@route.id.to_s+"minus"%>' src="/assets/whiteminus.png" <%=%q[onclick=clickminus('forwards_r]+@route.id.to_s+%q[')]%> width=<%=(16*@showForward).to_s%>></img>
          </div>
          <div class="sectiontitle">  
             <%= "From "+@route.startplace.name+" to "+@route.endplace.name+":"%></h2>
          </div>
        </div>
        <div id='<%="forwards_r"+@route.id.to_s%>' class="sectiontext" style=<%=if (@showForward==1) then "display:block" else "display:none" end %> >
          <%= simple_format(@route.description).html_safe %>
        </div>
      <% end %>
    <% end %>


    <% if @route.reverse_description %>
      <% if @route.reverse_description.length > 0 %>
        <div class="expandrow">
          <div class="expandbuttons">
            <img id='<%="reverse_r"+@route.id.to_s+"plus"%>' src="/assets/whiteplus.png" <%=%q[onclick=clickplus('reverse_r]+@route.id.to_s+%q[')]%> width=<%=(16*(1-@showReverse)).to_s%>></img>
            <img id='<%="reverse_r"+@route.id.to_s+"minus"%>' src="/assets/whiteminus.png" <%=%q[onclick=clickminus('reverse_r]+@route.id.to_s+%q[')]%> width=<%=(16*@showReverse).to_s%>></img>
          </div>
          <div class="sectiontitle">
            <%= "From "+@route.endplace.name+" to "+@route.startplace.name+":"%>
          </div>
        </div>
        <div id='<%="reverse_r"+@route.id.to_s%>' class="sectiontext" style=<%=if (@showReverse==1) then "display:block" else "display:none" end %>>
           <%= simple_format(@route.reverse_description).html_safe %>
        </div>
      <% end %>
    <% end %>


    <div class="expandrow">
      <div class="expandbuttons">
        <img id='<%="conditions_r"+@route.id.to_s+"plus"%>' src="/assets/whiteplus.png" <%=%q[onclick=clickplus('conditions_r]+@route.id.to_s+%q[')]%> width=<%=(16*(1-@showConditions)).to_s%>></img>
        <img id='<%="conditions_r"+@route.id.to_s+"minus"%>' src="/assets/whiteminus.png" <%=%q[onclick=clickminus('conditions_r]+@route.id.to_s+%q[')]%> width=<%=(16*@showConditions).to_s%>></img>
      </div>
      <div class="sectiontitle">
        Route conditions:
      </div>
    </div>
    <div id='<%="conditions_r"+@route.id.to_s%>' class="sectiontext" style=<%=if (@showConditions==1) then "display:block" else "display:none" end %>>
      <p>
          <div class="diff_label">Route Type:</div> <%=@route.routetype.name%>
          <%="(difficulty: "+(@route.routetype_id-@route_types.minimum(:id)+1).to_s+"/"+(@route_types.maximum(:id)-@route_types.minimum(:id)+1).to_s+")"%><br/>
          <i><%=@route.routetype.description%></i>
      </p>
      <p>
          <div class="diff_label">Gradient:</div> <%=@route.gradient.name%>
          <%="(difficulty: "+(@route.gradient_id-@gradients.minimum(:id)+1).to_s+"/"+(@gradients.maximum(:id)-@gradients.minimum(:id)+1).to_s+")"%><br/>
        <i><%=@route.gradient.description%></i>
      </p>
      <p>
          <div class="diff_label">Terrain:</div> <%=@route.terrain.name%>
          <%="(difficulty: "+(@route.terrain_id-@terrains.minimum(:id)+1).to_s+"/"+(@terrains.maximum(:id)-@terrains.minimum(:id)+1).to_s+")"%><br/>
        <i><%=@route.terrain.description%></i>
      </p>
      <p>
          <div class="diff_label">Alpine:</div> <%=@route.alpinesummer.name%>
          <%="(difficulty: "+(@route.alpinesummer_id-@alpines.minimum(:id)+1).to_s+"/"+(@alpines.maximum(:id)-@alpines.minimum(:id)+1).to_s+")"%><br/>
        <i><%=@route.alpinesummer.description%></i>
      </p>
      <p>
          <div class="diff_label">Rivers:</div> <%=@route.river.name%>
          <%="(difficulty: "+(@route.river_id-@rivers.minimum(:id)+1).to_s+"/"+(@rivers.maximum(:id)-@rivers.minimum(:id)+1).to_s+")"%><br/>
        <i><%=@route.river.description%></i>
      </p>

    <div class="sectiontitle">Winter conditions:</div></br>
    <p>
          <div class="diff_label">Alpine:</div> <%=@route.alpinewinter.name%>
          <%="(difficulty: "+(@route.alpinewinter_id-@alpines.minimum(:id)+1).to_s+"/"+(@alpines.maximum(:id)-@alpines.minimum(:id)+1).to_s+")"%><br/>
      <i><%=@route.alpinewinter.description%></i>
    </p>
    <p>
        <%= simple_format(@route.winterdescription).html_safe %>
    </p>
  </div>


   
  <% if @route.links %>
    <% if @route.links.length>0 %>
        <div class="expandrow">
          <div class="expandbuttons">
            <img id='<%="links_r"+@route.id.to_s+"plus"%>' src="/assets/whiteplus.png" <%=%q[onclick=clickplus('links_r]+@route.id.to_s+%q[')]%> width=<%=(16*(1-@showLinks)).to_s%>></img>
            <img id='<%="links_r"+@route.id.to_s+"minus"%>' src="/assets/whiteminus.png" <%=%q[onclick=clickminus('links_r]+@route.id.to_s+%q[')]%> width=<%=(16*(@showLinks)).to_s%>></img>
          </div>
          <div class="sectiontitle">
            Further Information:
          </div>
          <div id='<%="links_r"+@route.id.to_s%>' class="sectiontext" style=<%=if (@showLinks==1) then "display:block" else "display:none" end %>>
            <%= @route.links %>
          </div>
        </div>
     <% end %>
   <% end %>

<small> 
  <% if @route.createdBy_id %>
    Created by: <%= link_to @route.createdBy.name, '/users/'+@route.createdBy_id.to_s, remote: true%> on <%=@route.created_at%>. Last updated: <%=@route.updated_at%>
  <% end %>
</small>
