<div id="route_details">    
   <% if !@itemNumber then @itemNumber=1 else @itemNumber+=1 end %>
   <div class="erow">
      <%=render :partial => 'expand_buttons',  :locals => {:expName => "route"+@itemNumber.to_s, :initialSt => (if @hideAll then 0 else 1 end)} %>
      <%  if(signed_in? and !@trip and !@history) %>
         <div class="leftbuttons">
            <span title="Edit">
               <%=  link_to image_tag("/assets/pencil_edit.png", :border=>0, :class => 'dock-item'), '/routes/'+@route.id.to_s+'/edit', remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton"  %>
            </span>
         </div>
      <% end %>

      <div class="sectiontitle25">
         <% if !@route.published then %>Draft:<% end %>
         <% if !@history %>
            <%= link_to @route.startplace.name+" to "+@route.endplace.name+" via "+@route.via, 
               @route, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %>
         <% else %>
            <%=@route.startplace.name+" to "+@route.endplace.name+" via "+@route.via %>
         <% end %>

      </div>
   </div>
   <div id='route<%=@itemNumber.to_s%>' style='display:<%=if @hideAll then "none" else "block" end%>'>
      <div class="subrow">
         <%=render :partial => 'expand_buttons',  :locals => {:expName => "cn_r"+@itemNumber.to_s, :initialSt => @showConditions} %>
         <div class="sectiontext25">
         <% if @route.distance %>
            <%= "Distance: "+@route.distance.round(1).to_s+" km  " %>
         <%end %>
         <% if @route.time %>
            <%="("+@route.time.round(1).to_s+" DOC hours)"  %>
         <% end %>
         <% if @route.routetype.name!='Unknown'%>
            <%=" - "+@route.routetype.name%>
         <% end %>
         <% if @route.terrain.name!='Unknown'%>
            <%=" - "+@route.terrain.name+" terrain"%>
         <% end %>
         <% if @route.location and !@history%>
            <br/>
            <%= "Altitude - max: "+@route.maxalt.to_i.to_s+"m  min: "+@route.minalt.to_i.to_s+"m"+
               "  gain: "+@route.altgain.to_i.to_s+"m  loss: "+@route.altloss.to_i.to_s+"m" %>
            <% if @route.distance>0 %>
               <%="  gradient: "+(Math.tan((@route.altgain+@route.altloss)/(@route.distance*1000))*180/Math::PI).to_i.to_s+" deg"%>
            <% end %>
            <% if @route.gradient.name!='Unknown'%>
               <%="("+@route.gradient.name+")"%>
            <% end %>
         <% end %><br/>
         Skills:  
         <% if @route.alpinesummer.name!='Unknown' and @route.alpinesummer.name!='None' %>
            <%=@route.alpinesummer.name%><%=" ("+(@route.alpinesummer_id-@alpines.minimum(:id)).to_s+"/"+(@alpines.maximum(:id)-@alpines.minimum(:id)).to_s+") "%> 
         <% end %>
         <% if @route.river.name!='Unknown' and @route.river.name!='None' %>
            <%=" - "+@route.river.name%>
            <%=" ("+(@route.river_id-@rivers.minimum(:id)).to_s+"/"+(@rivers.maximum(:id)-@rivers.minimum(:id)).to_s+") "%>
         <% end %>
         <% if @route.alpinewinter.name!='Unknown' and @route.alpinewinter.name!='None' %>
            Winter - <%=@route.alpinewinter.name%>
            <%=" ("+(@route.alpinewinter_id-@alpinews.minimum(:id)).to_s+"/"+(@alpinews.maximum(:id)-@alpinews.minimum(:id)).to_s+")"%>
         <% end %>
         <br/>
         <div class="no-print">
              <i><%= link_to 'GPX info source:', '/routes/'+@route.id.to_s+'.gpx'%></i>
              <i><%= @route.datasource %></i>
         </div>
      </div>
    </div>
    <div class="subrow">
    <div id='<%="cn_r"+@itemNumber.to_s%>' class="sectiontext" style=<%=if (@showConditions==1) then "display:block" else "display:none" end %>>
       <p>
          <div class="diff_label">Route Type:</div> <%=@route.routetype.name%>
          <%="("+(@route.routetype_id-@route_types.minimum(:id)).to_s+"/"+(@route_types.maximum(:id)-@route_types.minimum(:id)).to_s+")"%><br/>
          <i><%=@route.routetype.description%></i>
       </p>
       <p>
          <div class="diff_label">Route Importance:</div> <%=@route.importance.name%>
          <%="("+(@route.importance_id-@importances.minimum(:id)+1).to_s+"/"+(@importances.maximum(:id)-@importances.minimum(:id)+1).to_s+")"%><br/>
          <i><%=@route.importance.description%></i>
       </p>
       <p>
          <div class="diff_label">Gradient:</div> <%=@route.gradient.name%>
          <%="(difficulty: "+(@route.gradient_id-@gradients.minimum(:id)).to_s+"/"+(@gradients.maximum(:id)-@gradients.minimum(:id)).to_s+")"%><br/>
          <i><%=@route.gradient.description%></i>
       </p>
       <p>
          <div class="diff_label">Terrain:</div> <%=@route.terrain.name%>
          <%="(difficulty: "+(@route.terrain_id-@terrains.minimum(:id)).to_s+"/"+(@terrains.maximum(:id)-@terrains.minimum(:id)).to_s+")"%><br/>
          <i><%=@route.terrain.description%></i>
       </p>
       <p>
          <div class="diff_label">Alpine:</div> <%=@route.alpinesummer.name%>
          <%="(difficulty: "+(@route.alpinesummer_id-@alpines.minimum(:id)).to_s+"/"+(@alpines.maximum(:id)-@alpines.minimum(:id)).to_s+")"%><br/>
          <i><%=@route.alpinesummer.description%></i>
       </p>
       <p>
          <div class="diff_label">Rivers:</div> <%=@route.river.name%>
          <%="(difficulty: "+(@route.river_id-@rivers.minimum(:id)).to_s+"/"+(@rivers.maximum(:id)-@rivers.minimum(:id)).to_s+")"%><br/>
          <i><%=@route.river.description%></i>
       </p>

       <div class="sectiontitle">Winter conditions:</div><br/>
       <p>
          <div class="diff_label">Alpine:</div> <%=@route.alpinewinter.name%>
          <%="(difficulty: "+(@route.alpinewinter_id-@alpinews.minimum(:id)).to_s+"/"+(@alpinews.maximum(:id)-@alpinews.minimum(:id)).to_s+")"%><br/>
          <i><%=@route.alpinewinter.description%></i>
       </p>
       <p>
          <%= simple_format(@route.winterdescription).html_safe %>
       </p>
    </div>
    </div>
    <div class="subrow">
       <div class="leftbuttons">
          <img id='switch' src="/assets/switch.png" <%=%q[onclick=clickswitch(']+@itemNumber.to_s+%q[')]%>>
       </div>
       <% if (!@route.description or @route.description.length<2) then @showForward=0 end%>
       <div id='<%="fw_t"+@itemNumber.to_s%>' class="sectiontitle" style=<%=if (@showForward==1) then "display:block" else "display:none" end %>>  
          <% if (!@trip and !@history) %>
             <%= form_for  @route, :html => {:name => 'routeform'}, remote: true  do |f| %>
                 From <%= link_to @route.startplace.name,    @route.startplace, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %>
                 to <%= link_to @route.endplace.name,    @route.endplace, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %> 
                 <%= f.submit "Add to trip", class: "btn btn-small btn-primary", name: "addfw", onclick: "linkHandler('addbutton')", id:  "addbutton" %>  
             <% end %>
          <% else %>
             From <%= link_to @route.startplace.name,    @route.startplace, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %>
             to <%= link_to @route.endplace.name,    @route.endplace, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %> 
          <% end %>
       </div>
       <div id='<%="fw_r"+@itemNumber.to_s%>' class="sectiontext" style=<%=if (@showForward==1) then "display:block" else "display:none" end %> >
           <p>
           <% if @route.description and @route.description.length>0 %>
              <%= simple_format(@route.description).html_safe %>
           <% else %>
             No description
           <% end %>
           </p>
       </div>


       <div id='<%="rv_t"+@itemNumber.to_s%>' class="sectiontitle" style=<%=if (@showForward!=1) then "display:block" else "display:none" end %>>
          <% if (!@trip and !@history) %>
             <%= form_for  @route, :html => {:name => 'routeform'}, remote: true  do |f| %>
                 From <%= link_to @route.endplace.name,    @route.endplace, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %> 
                 to <%= link_to @route.startplace.name,    @route.startplace, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %>
                 <%= f.submit "Add to trip", class: "btn btn-small btn-primary", name: "addrv", onclick: "linkHandler('addbutton')", id:  "addbutton" %>
             <% end %>
          <% else %>
             From <%= link_to @route.endplace.name,    @route.endplace, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %> 
             to <%= link_to @route.startplace.name,    @route.startplace, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %>
          <% end %>

        </div>
        <div id='<%="rv_r"+@itemNumber.to_s%>' class="sectiontext" style=<%=if (@showForward!=1) then "display:block" else "display:none" end %>>
           <p style='color:red'>Note: Described in the reverse direction to your journey</p>
           <p>
           <% if @route.reverse_description and @route.reverse_description.length>0 %>
             <%= simple_format(@route.reverse_description).html_safe %>
           <% else %>
             No description
           <% end %>
           </p>
        </div>
     </div>
   
     <div class="erow">
     <% if @route.links %>
        <% if @route.links.length>0 %>
              <%=render :partial => 'info_buttons',  :locals => {:expName => "lk_r"+@itemNumber.to_s, :initialSt => @showLinks} %>
              <div id='<%="lk_r"+@itemNumber.to_s%>' class="sectiontext25" style=<%=if (@showLinks==1) then "display:block" else "display:none" end %>>
                 <%= @route.links %><br/>
              </div>
        <% end %>
     <% end %>
     <div class="sectiontext25">
        <small> 
           <% if @route.createdBy_id %>
              Created by: <%= link_to @route.createdBy.name.capitalize, '/users/'+@route.createdBy.name, remote: true%> on <%=@route.firstcreated_at%>. Last updated: <%=@route.updated_at%>
              <% if !@history%>
                 <%= link_to "View history", '/history/route-'+@route.id.abs.to_s, remote: true, :id => 'history', :onclick =>"linkHandler('history')" %>
              <% end %>
           <% end %>
        </small>
     </div>
   </div>
   </div>
</div>

<% if !@dontMark %>
<script>

 route_init('<%=@route.startplace.location%>', '<%=@route.endplace.location%>', '<%=@route.location%>', 1);

</script>

<% end %>
