<% if @startplace and @endplace %>
  <% provide(:title, 'Route | '+@startplace.name+' to '+@endplace.name) %>
  <% @title=' | Route | '+@startplace.name+' to '+@endplace.name %>
<% else %>
  <% provide(:title, 'Route | New') %>
  <% @title=' | Route | New '%>
<% end %>
<%= render 'flash' %>
<%= render 'application/mail_status' %>


<script>
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
   reset_map_controllers();
</script>


<% if @items and @startplace and @endplace and @url and (@url.include?('rv') or @url.include?('qv'))%>
  <%= form_tag '/routes/many', :remote=> true, :name => "AddMany", :name=> 'listForm', :method=> 'post'%>
    <div class="erow">
      <div class="sectiontitle">
        <%=  link_to @startplace.name+' to '+@endplace.name, '/routes/'+@url, remote: true, onclick: %q[linkHandler('r]+@url+%q[')], id:  'r'+@url  %>
        <input type="hidden" name="route" value='<%=@url%>' />
        <%= submit_tag  "Add to trip", id: "Add Many", class: "btn btn-small btn-primary", remote: true, id: "addbutton", onclick: "linkHandler('addbutton')" %>      
        <%=  link_to "Download GPX", @id+'.gpx', class: "btn btn-small btn-primary no-print", style: "font-weight:normal" %>
      </div>
    </div>
  </form>
<% end %>
<% if @url.split('q').count>1 %>
  <p style='color:red'> Note: End-to-end route leaves / joins <%=@url.split('q').count-1%> of the route segments listed part-way along.  Distances / times shown do not reflect this</p>
<% end %>
<% if @items %>
  <%
     distance=0
     time=0
     altgain=0
     altloss=0
     minalt=99999
     maxalt=0
     rt_arr=[]
     place_list=[]
  %>

  <% if @url and (@url.include?('rv') or @url.include?('qv')) %>
    <% @items.reverse.each do |rt_str| %>
      <% 
         if rt_str[0..1]=='rv' or rt_str[0..1]=='qv' then 
           if rt_str[0..1]=='rv' then
             rt_id=rt_str[2..-1].to_i
             route=Route.find_by_signed_id(rt_id)
           else
             rtarr=rt_str[2..-1].split('y')
             if rtarr.count<3 then abort() end
             rt_id=rtarr[0].to_i
             route=Route.find_by_signed_id(rt_id)
             route.startplace_id=rtarr[1].to_i
             route.endplace_id=rtarr[2].to_i
           end
           rt_arr=rt_arr+[rt_id]
           if(route.distance) then distance+=route.distance end
           if(route.time) then time+=route.time end
           if(route.altgain) then altgain=altgain+route.altgain end
           if(route.altloss) then altloss=altloss+route.altloss end
           if(route.maxalt>maxalt) then maxalt=route.maxalt end
           place_list+=[route.startplace_id]
           if(route.minalt<minalt) then minalt=route.minalt end
         end
       %> 
      <% end %>
      <% if distance %>
      <%= "Distance: "+distance.round(1).to_s+" km " %>
    <%end %>
    <% if @endplace then place_list+=[@endplace.id] end %>
    <% if time %>
      <%="("+time.round(1).to_s+" DOC hours)"  %>
      <br/>
    <% end %>
  
    <%= "Altitude - Max: "+maxalt.to_i.to_s+"m  Min: "+minalt.to_i.to_s+"m"+
       "  Gain: "+altgain.to_i.to_s+"m  Loss: "+altloss.to_i.to_s+"m" %>
    <% if distance>0 %>
      <%="  Gradient: "+(Math.tan((altgain+altloss)/(distance*1000))*180/Math::PI).to_i.to_s+" deg"%>
    <% end %>
    <br/>
 <% end %> 

 <div class="erow">
   <div class="hrline">
    <hr noshade size="4">
   </div>
 </div>
  <% @trip=true %>
   <% index=0 %>
   <% @placecount=0%>
  <% @items.each do |item| %>
     <% if item[0]=='p' then @place=Place.find_by_id(item[2..-1].to_i)  %>
       <% if @place then @segment_start=@place.id end%>
       <% @placecount+=1 %>
       <% @showForward=1 %>
       <% if item[1]=="v" then %>
         <%= render '/places/place_details' %> 
       <% end %>
       <% if item[1]=="b" then %>
         <%= render '/places/place_summary' %>
       <% end %>

       <% if item[1]=="e" then %>
         <div id="place_form">
           <%= render '/places/place_form' %> 
         </div>
       <% end %>
       <% if item[1]=="s" then %>
         <div id="place_form">
           <%= render '/places/place_select' %> 
         </div>
       <% end %>
       <% if item[1]=="n" then %>
         <div id="place_form">
           <% @place=Place.new %>
           <div class='erow'>
             <div class='sectiontitle'>
               <%='Enter details of '+@placecount.ordinalize+' place'%>
             </div>
           </div>
           <%= render '/places/place_form' %> 
         </div>
       <% end %>


     <%  end %>
     <%  if item[0]=='r' or item[0]=='q' then %>
       <% 
          @showForward=1
          @showReverse=0 
       %>
       <% if item[0]=='q' %>
          <p style='color:red'> Note: your end-to-end journey joins or leaves this route segment part way along.  Distances / times shown to not reflect this</p>
          <% arr=item[2..-1].split('y')
             routeId=arr[0].to_i
             @real_startplace=Place.find_by_id(arr[1].to_i)
             @real_endplace=Place.find_by_id(arr[2].to_i)
        else 
           routeId=item[2..-1].to_i
           @real_startplace=nil
           @real_endplace=nil
        end 
        @route=Route.find_by_signed_id(routeId)
       %>
       <% if item[1]=="v" then %>
         <%= render '/routes/route_details' %> 
       <% end %>
       <% if item[1]=="e" then %>
         <div id="route_form">
           <%= render '/routes/route_form' %>
         </div>
       <% end %>
       <% if item[1]=="n" and @segment_start then %>
         <div id="route_form">
           <% @route=Route.new   
              @route.published=true
              @route.startplace_id=@segment_start   
              nextitem=@items[index+1]
              if nextitem[0]=='p' then endplace=Place.find_by_id(nextitem[2..-1].to_i) 
                 if endplace then 
                   @route.endplace_id=endplace.id %>
                   <div class='erow'>
                     <div class='sectiontitle'>
                       <%='Enter details of route from '+@route.startplace.name+' to '+@route.endplace.name%>
                     </div>
                   </div>

                   <%= render '/routes/route_form' %> 
                 <% end %>
              <% end %>
         </div>
       <% end %>

     <% end %>
     <% index=index+1%>
     <div class="erow">
        <div class="hrline">
           <hr noshade size="4">
        </div>
     </div>

  <% end %>
  <% @trip=false %>
<% end %>

<% if @url and (@url.include?('rv') or @url.include?('qv')) and not @url.include?('s') and not @url.include?('n') and  not @url.include?('e') %>
  <div id="links_section">
     <div class="erow" style="margin-top:12px">
       <div class="sectiontitle-bold">
          Places you can go from here:
       </div>
     </div>
   <% @trip=true %>
   <% @dontMark=true %>
   <% @pl_list=[@startplace, @endplace]%>
   <% @ignore_pl_list=place_list %>

   <%= render '/places/adj_pl_list' %>
   </div>
<% end %>
<script>
  /* specify map click mode */
//  deactivate_all_click();

  /* relad routes layer if we've been asked to */
  if(routesStale) {
       routes_layer.refresh({force: true}); 
       routesStale=false;
  }
  if(placesStale) {
     places_layer.refresh({force: true}); 
     placesStale=false;
  }

</script>

