<% if @startplace and @endplace %>
  <% provide(:title, 'Route | '+@startplace.name+' to '+@endplace.name) %>
  <% @title=' | Route | '+@startplace.name+' to '+@endplace.name %>
<% else %>
  <% provide(:title, 'Route | New') %>
  <% @title=' | Route | New '%>
<% end %>
<%= render 'flash' %>
<%= render 'application/mail_status' %>


<script>
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
   reset_map_controllers();
</script>

<% if @items and @startplace and @endplace and @url #and (@url.include?('rv') or @url.include?('qv'))%>
  <%= form_tag '/routes/many', :remote=> true, :name => "AddMany", :name=> 'listForm', :method=> 'post'%>
    <div class="erow">
      <div class="sectiontitle">
        <span id="page_title"><%=  link_to @startplace.name+' to '+@endplace.name, '/routes/'+@url, remote: true, onclick: %q[linkHandler('r]+@url+%q[')], id:  'r'+@url  %></span>
        <input type="hidden" name="route" value='<%=@url%>' />
        <%= submit_tag  "Add to trip", id: "Add Many", class: "btn btn-small btn-primary", remote: true, id: "addbutton", onclick: "linkHandler('addbutton')" %>      
        <%=  link_to "Download GPX", '/routes/'+@id+'.gpx', class: "btn btn-small btn-primary no-print", style: "font-weight:normal" %>
      </div>
    </div>
  </form>
<% end %>
<% if @url.split('q').count>1 %>
  <p style='color:red' id="e2ewarning"> Note: End-to-end route leaves / joins <%=@url.split('q').count-1%> of the route segments listed part-way along.  Distances / times shown do not reflect this</p>
<% end %>
<% if @items %>
  <%=render '/routes/summary_stats'%>

  <div class="erow">
    <div class="hrline">
       <hr noshade size="4">
    </div>
  </div>
  <% @trip=true %>
  <% @index=1 %>
  <% @placecount=0%>
  <% @items.each do |item| %>
     <% if item[0]=='p' then @place=Place.find_by_id(item[2..-1].to_i)  %>
       <% if @place then @segment_start=@place.id end%>
         <% @placecount+=1 %>
         <% @showForward=1 %>
         <% if item[1]=="v" and @place then %>
           <%= render '/places/place_details' %> 
         <% end %>
         <% if item[1]=="b" and @place then %>
           <%= render '/places/place_summary' %>
         <% end %>
  
         <% if item[1]=="e" and @place and signed_in? then %>
           <% @place=@editplace if @editplace %>
           <% @place.experienced_at=nil if @current_user!=@place.updatedBy %>
             <div id="place_form">
               <div class="sectiontitle" id="actiontitle">
                 <% if @url and (@url.include?('rc')) %>
                    Enter details of place at which to split this route:
                 <% else %>
                    <%='Enter details of '+@placecount.ordinalize+' place'%>
                 <% end %>
               </div>
             <%= render '/places/place_form' %> 
           </div>
         <% end %>
         <% if item[1]=="s" and signed_in? then %>
           <div id="place_form">
             <%= render '/places/place_select' %> 
           </div>
         <% end %>
         <% if item[1]=="n" and signed_in? then %>
           <% if @editplace then @place=@editplace else @place=Place.new 
                 @place.projection_id=2193
              end %>
           <div id="place_form">
             <div class='erow'>
               <div class='sectiontitle' id="actiontitle">
                   <% if @url and (@url.include?('rc')) %>
                      Enter details of place at which to split this route:
                   <% else %>
                      <%='Enter details of '+@placecount.ordinalize+' place'%>
                   <% end %>
               </div>
             </div>
             <%= render '/places/place_form' %> 
           </div>
         <% end %>
     <%  end %>
     <%  if item[0]=='r' or item[0]=='q' then %>
       <% 
          @showForward=1
          @showReverse=0 
       %>
       <% if item[0]=='q' %>
          <p style='color:red' id="r<%=@index.to_s%>warning"> Note: your end-to-end journey joins or leaves this route segment part way along.  Distances / times shown do not reflect this</p>
          <% arr=item[2..-1].split('y')
             routeId=arr[0].to_i
             @real_startplace=Place.find_by_id(arr[1].to_i)
             @real_endplace=Place.find_by_id(arr[2].to_i)
        else 
           routeId=item[2..-1].to_i
           @real_startplace=nil
           @real_endplace=nil
        end 
        @route=Route.find_by_signed_id(routeId)
        if @route and @route.id then 
          flatloc=Route.find_by_sql [ "select ST_AsText(ST_AsEWKT(ST_Force2D(location))) as location from routes where id="+@route.id.abs().to_s ]
          @rtloc=flatloc[0].location
        else 
          @rtloc=nil
        end
 
        
       %>
         <% if item[1]=="v" and @route then %>
           <%= render '/routes/route_details' %> 
         <% end %>
         <% if item[1]=="c" and @route then %>
           <%= render '/routes/route_details' %> 
         <% end %>
         <% if (item[1]=="e" or item[1]=="m") and @route and signed_in? then %>
           <% @route=@editroute if @editroute %>
           <% if(@route.location) then @route.location=@route.location.as_text end %>
           <% @route.experienced_at=nil if @current_user!=@route.updatedBy %>
           <div id="route_form">
             <%= render '/routes/route_form' %>
           </div>
         <% end %>
         <% if item[1]=="n" and @segment_start and signed_in? then %>
           <div id="route_form">
             <% if !@editroute then @route=Route.new  else @route=@editroute end
                @route.published=true
                @route.startplace_id=@segment_start   
                nextitem=@items[@index]
                if nextitem[0]=='p' then endplace=Place.find_by_id(nextitem[2..-1].to_i) 
                   if endplace then 
                     @route.endplace_id=endplace.id %>
                     <div class='erow'>
                       <div class='sectiontitle'>
                         <%='Enter details of route from '+@route.startplace.name+' to '+@route.endplace.name%>
                       </div>
                     </div>
  
                     <%= render '/routes/route_form' %> 
                   <% end %>
                <% end %>
           </div>
         <% end %>
     <% end %>
     <% @index=@index+1%>
     <div class="erow">
        <div class="hrline">
           <hr noshade size="4">
        </div>
     </div>

  <% end %>
  <% @trip=false %>
<% end %>

<% if @url and (@url.include?('rv') or @url.include?('qv')) and not @url.include?('s') and not @url.include?('n') and  not @url.include?('e') and not @url.include?('m') and @startplace and @endplace%>
  <div id="links_section2">
     <div class="erow" style="margin-top:12px" id="adjplaces">
       <div class="sectiontitle-bold">
          Places you can go from here:
       </div>
     </div>
   <% @trip=true %>
   <% @dontMark=true %>
   <% @pl_list=[@startplace, @endplace]%>
   <% @ignore_pl_list=@place_list %>

   <%= render '/places/adj_pl_list' %>
   </div>
<% end %>
<script>
  /* specify map click mode */
//  deactivate_all_click();

  /* relad routes layer if we've been asked to */
  if(site_routesStale) {
       map_refresh_layer(routes_layer);
       site_routesStale=false;
  }
  if(site_placesStale) {
       map_refresh_layer(places_layer);
       site_placesStale=false;
  }

</script>

