<% provide(:title, "Route | "+@route.name) %>
<% @title=" | Route | "+@route.name %>
<%= render 'flash' %>

<script> 
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
   reset_map_controllers();

   // clear any existing map features
   if (typeof(vectorLayer)!='undefined') vectorLayer.destroyFeatures();

</script>


<%= render 'application/mail_status' %>
<%= render 'shared/error_messages' %>
<%= render 'routes/route_details' %>

<div id="links_section">
  <% if @editlinks and signed_in? %>
    <div class="erow">
      <div class="leftbuttons">
         <span title="Close editing">
           <%=  link_to image_tag("/assets/red-x.png", :border=>0, :class => 'dock-item'), '/routes/'+@route.id.to_s, remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton"  %>
         </span>
      </div>
      <div class="sectiontitle-bold">
        Edit Links:
      </div>
    </div>
    <div id="editlinks">
      <%=render :partial => 'links_form',  :locals => {:parent => @route, :parent_type=>'route'} %>
    </div>
  <% else %>
    <div class="erow">
      <% if signed_in? %>
        <div class="leftbuttons">
          <span title="Edit links"%>
            <%=  link_to image_tag("/assets/pencil_edit.png", :border=>0, :class => 'dock-item'), '/routes/'+@route.id.to_s+'/?editlinks=true', remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton"  %>
          </span>
        </div>
      <% end %>
      <div class="sectiontitle-bold">
        Links:
      </div>
    </div>
    <%=render :partial => 'links_photos',  :locals => {:parent => @route} %>
    <div class="erow"><div class="hrline"> <hr noshade size="2"> </div></div>
    <%=render :partial => 'links_details',  :locals => {:parent => @route} %>
  <% end %>
</div>
<div id="links_section2">
   <div class="erow" style="margin-top:12px">
     <div class="sectiontitle">
        Route segments connecting with this one:
     </div>
   </div>
   <% @route.adjoiningRoutes.each do |r|%>
     <div class="erow">
        <div class="sectiontext">
           <li style="margin-bottom:10px;list-style-type: none">
              <%=  link_to r.name, '/routes/'+r.id.to_s, remote: true, onclick: %q[linkHandler('r]+r.id.to_s+%q[')], id:  'r'+r.id.to_s  %>
           </li>
        </div>
     </div>
   <% end %>

   <div class="erow" style="margin-top:12px">
     <div class="sectiontitle">
        Places you can go from here:
     </div>
   </div>
   <% @trip=true %>
   <% @dontMark=true %>
   <% @pl_list=[@route.startplace, @route.endplace]%>
   <% @ignore_pl_list=[@route.startplace_id, @route.endplace_id] %>
   <%= render '/places/adj_pl_list' %>

   <div class="erow" style="margin-top:12px">
     <div class="sectiontitle">
        Trips passing through here:
     </div>
   </div>
   <% @route.trips.each do |r|%>
     <div class="erow">
        <div class="sectiontext">
           <li>
              <%=  link_to r.name+" by "+r.createdBy.name.capitalize, '/trips/'+r.id.to_s, remote: true, onclick: %q[linkHandler('r]+r.id.to_s+%q[')], id:  'r'+r.id.to_s  %>
           </li>
        </div>
     </div>
   <% end %>
     <div class="erow">
        <div class="hrline">
           <hr noshade size="4">
        </div>
     </div>

   <div id="comments_section">
     <%=render :partial => 'comments/comments_brief',  :locals => {:itemType => "route", :itemId => @route.id.abs} %>  
   </div>


<%= form_for  @route, :html => {:name => 'routeform'}, remote: true  do |f| %>
      <input  type="hidden" id="route_startplace_location" name="route[startplace_location]" type="text" <%if @route.startplace %>value='<%=@route.startplace.location%>'<%end%>>
      <input  type="hidden" id="route_endplace_location" name="route[endplace_location]" type="text" <%if @route.endplace %>value='<%=@route.endplace.location%>'<%end%>>
      <%= f.hidden_field :location, :readonly=>true %>
    <% end %>
  </div>
<script>

  /* specify map click mode */
//  deactivate_all_click();

  /* relad routes layer if we've been asked to */
  if(routesStale) {
       routes_layer.refresh({force: true}); 
       routesStale=false;
  }
</script>

