<% if @route.name %>
  <% provide(:title, "Route | "+@route.name) %>
  <% @title=" | Route | "+@route.name %>
<% end %>

<script> 
   update_title('<%=@title||""%>'); 
   document.getElementById("page_status").innerHTML = '';
   reset_map_controllers(<%=if @current_user then @current_user.id.to_s end%>);

   // clear any existing map features
   map_clear_scratch_layer();


</script>

<div id="actionbar" class="span7">
   <div id="crumbs">
     <% if !signed_in? or !@route.beenthere(@current_user.id) then %>
       <span title="Click to record your visit to this place"><%= link_to "Been there!",'/beenthere/new?url=xrv'+@route.id.to_s, class: "btn btn-small btn-primary", onclick: "myplacesHandler('beenthere');", remote: true, id: "beenthere" %></span>
     <% else %>
       You've been here! <span><%= link_to "Remove",'/beenthere/delete?route_id='+@route.id.to_s+"&user_id="+@current_user.id.to_s, class: "intext_link", onclick: "myplacesHandler('beenthere');", remote: true, id: "beenthere" %></span>
     <% end %>
   </div>
   <div id="controls">
       <%= link_to "Download GPX", '/routes/xrv'+@route.id.to_s+'.gpx?version='+@version.to_s, class: "btn btn-small btn-primary" %>
       <%= link_to "Add to my trip", '/addtrip?id=xrv'+@route.id.to_s, class: "btn btn-small btn-primary", onclick: "linkHandler('addtrip')", remote: true, id: "addtrip" %>
       <%= render :partial => 'mytrip_button'%>
   </div>
</div>

<%= render 'application/mail_status' %>
<div id="place_container">
   <span id="flash"><%= render 'flash' %></span>
<%= render 'shared/error_messages' %>
<%= render 'routes/route_details' %>

<div class="no-print" id="links_section">
  <% if @editlinks and signed_in? %>
    <div class="erow">
      <div class="leftbuttons">
         <span title="Close editing">
           <%=  link_to image_tag("/assets/red-x.png", :border=>0, :class => 'dock-item'), '/routes/'+@route.id.to_s, remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton"  %>
         </span>
      </div>
      <div class="sectiontitle-bold" id="links_title">
        Edit Links:
      </div>
    </div>
    <div id="editlinks">
      <%=render :partial => 'links_form',  :locals => {:parent => @route, :parent_type=>'route'} %>
    </div>
  <% else %>
    <div class="erow">
      <% if signed_in? %>
        <div class="leftbuttons">
          <span title="Edit links" id="edit_links">
          </span>
        </div>
      <% end %>
      <div class="sectiontitle" id="links_title">
        <b>Links:</b> <%=  link_to 'Add / edit links', '/routes/'+@route.id.to_s+'/?editlinks=true', remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton", class: 'link_to'  %>
      </div>
    </div>
    <%=render :partial => 'links_photos',  :locals => {:parent => @route} %>
    <div class="erow"><div class="hrline"> <hr noshade size="2"> </div></div>
    <%=render :partial => 'links_details',  :locals => {:parent => @route} %>
  <% end %>
</div>
<div class="no-print" id="links_section2">
   <div class="erow" style="margin-top:12px" id="adjroutes">
     <div class="sectiontitle">
        Route segments connecting with this one:
     </div>
   </div>
   <% @route.adjoiningRoutes.each do |r|%>
     <div class="erow">
        <div class="sectiontext">
           <li style="margin-bottom:10px;list-style-type: none">
              <%=  link_to r.name, '/routes/'+r.id.to_s, remote: true, onclick: %q[linkHandler('rs]+r.id.to_s+%q[')], id:  'rs'+r.id.to_s  %>
           </li>
        </div>
     </div>
   <% end %>

   <div class="erow" style="margin-top:12px" id="adjplaces">
     <div class="sectiontitle">
        Places you can go from here:
     </div>
   </div>
   <% @trip=true %>
   <% @dontMark=true %>
   <% @pl_list=[@route.startplace, @route.endplace]%>
   <% @ignore_pl_list=[@route.startplace_id, @route.endplace_id] %>
   <%= render '/places/adj_pl_list' %>

   <div class="erow" style="margin-top:12px" id="adjtrips">
     <div class="sectiontitle">
        Trips passing through here:
     </div>
   </div>
   <% @route.trips.each do |r|%>
     <div class="erow">
        <div class="sectiontext">
           <li>
              <%=  link_to r.name+" by "+r.createdBy.name.capitalize, '/trips/'+r.id.to_s, remote: true, onclick: %q[linkHandler('t]+r.id.to_s+%q[')], id:  't'+r.id.to_s  %>
           </li>
        </div>
     </div>
   <% end %>
     <div class="erow">
        <div class="hrline">
           <hr noshade size="4">
        </div>
     </div>
</div>
<div id="links3-section">
   <div id="comments_section">
     <%=render :partial => 'comments/comments_brief',  :locals => {:itemType => "route", :itemId => @route.id.abs} %>  
   </div>


<%= form_for  @route, :html => {:name => 'routeform'}, remote: true  do |f| %>
      <input  type="hidden" id="route_startplace_location" name="route[startplace_location]" type="text" <%if @route.startplace %>value='<%=@route.startplace.location%>'<%end%>>
      <input  type="hidden" id="route_endplace_location" name="route[endplace_location]" type="text" <%if @route.endplace %>value='<%=@route.endplace.location%>'<%end%>>
      <%= f.hidden_field :location, :readonly=>true %>
    <% end %>
  </div>
</div>
<script>

  /* specify map click mode */
//  deactivate_all_click();

  /* relad routes layer if we've been asked to */
  if(site_routesStale) {
       map_refresh_layer(routes_layer);
       site_routesStale=false;
  }
    if(site_map_size!=1) { 
       $('#actionbar').removeClass('span7');
       var cl=document.getElementById('right_panel').className;
       $('#actionbar').addClass(cl);
}
</script>

