<div class="leftbuttons" class="no-print">
   <span title="Further information">
      <img id='<%=expName+"plus"%>' src="/assets/info.png" <%=%q[onclick=clickplus(']+expName+%q[')]%> 
           style='display:<%=if(initialSt==1) then "none" else "block" end%>'>
      <img id='<%=expName+"minus"%>' src="/assets/whiteminus.png" <%=%q[onclick=clickminus(']+expName+%q[')]%> 
           style='display:<%=if(initialSt==1) then "block" else "none" end%>'>
   </span>
</div>

