<%linkcnt=0%>
<% if @ourlinks then ourlinks=@ourlinks else ourlinks=parent.links end %>
  <% ourlinks.each do |rl| %>
      <div class="erow" style="margin-left:25px;width:calc(100% - 25px)">
        <% if rl.item_type!='photo'and  rl.item_type!='done'%>
          <div class="rowtitle" id="linktitle<%=linkcnt.to_s%>">
            <%= rl.item_type.capitalize+": "%>
          </div>
        <% end %>
        <div class="rowtext" id="linktext<%=linkcnt.to_s%>">
          <% case rl.item_type %>
          <% when 'about' %>
            <%= link_to 'About', '/about' , remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %>
          <% when 'URL' %>
            <%= link_to rl.item_url, rl.item_url, :target=>"_blank" %>
          <% when 'photo' %>
          <% when 'done' %>
          <% else %>
            <%= link_to (if rl.child then rl.child.name else 'broken' end), (if rl.child then rl.child else '#' end),  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')"  %>
          <% end %>
        </div>
      </div>
      <% linkcnt+=1%>
<% end%>


