<% provide(:title, 'Reports') %>
<% @title=" | Reports" %>
<%= render 'flash' %>
<script>
   update_title('<%=@title%>');
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';

$(function () {
  $('#right_panel .pagination a').on('click', function () {
    $.getScript(this.href);
    return false;
  });
})

</script>

<%if @order=='latest'%>
  <div class="date_pagination"> <%= will_paginate(@reports, :renderer => PaginationListLinkRenderer, :order => @order, :inner_window => 3) %></div>
<% else %>
  <div class="name_pagination"> <%= will_paginate(@reports, :renderer => PaginationListLinkRenderer, :order => @order) %></div>
<% end %>

<%= render 'index_details' %>
<%if @order=='latest'%>
  <div class="date_pagination"> <%= will_paginate(@reports, :renderer => PaginationListLinkRenderer, :order => @order, :inner_window => 3) %></div>
<% else %>
  <div class="name_pagination"> <%= will_paginate(@reports, :renderer => PaginationListLinkRenderer, :order => @order) %></div>
<% end %>
