<script type="text/javascript">
//<![CDATA[
   bkLib.onDomLoaded(startEdit);

function startEdit() {
  nicEditors.allTextAreas();
  init();
}
  //]]>
</script>
<div id='report_details'>
  <div>
     <%= form_for  @report, :remote=> true, :html => {:name => 'reportform'}  do |f| %>
      <%= render 'shared/error_messages' %>

      <div class="sectiontitle"><span class="mandatory">*</span>Name:</div>
      <%= f.text_field :name, :disabled=>!@edit %>

      <div class="sectiontitle"><span class="mandatory">*</span>Description:</div>
      <div class="erow">
      <div id="editPanel"></div>
      <span id="descrSpan">
         <%= f.text_area :description, :disabled=>!@edit, :rows=>"8"   %>
      </span>
      </div>
      <br/>
      <div class="erow">
        <% if @report.createdBy_id %>
          Created by: <%= link_to @report.createdBy.name.capitalize, '/users/'+@report.createdBy.name, remote: true%> on <%=@report.created_at%>. Last updated: <%=@report.updated_at%>
        <% end %>
      </div>
      <br/>

      <div class="erow">
      <% if @edit %>
        <%= f.submit "Save", class: "btn btn-small btn-primary", name: "save", onclick: "linkHandler('savebutton')", id:  "savebutton" %>
        <%=  link_to "Cancel", '/reports/'+@report.id.to_s, class: "btn btn-small btn-primary", remote: true %>
        <% if((@report.createdBy_id==@current_user.id) or (@current_user.role==Role.find_by( :name => 'root'))) %>
           <%= f.submit "Delete", class: "btn btn-small btn-primary", name: "delete", onclick: "linkHandler('deletebutton')", id:  "deletebutton" %>
        <% end %>

      <% else %>
        <%=  link_to "Edit", '/reports/'+@report.id.to_s+'/edit', class: "btn btn-small btn-primary", remote: true %>
      <% end %>
      <br/>
       
    <% end %>
    </div>
  </div>
</div>


<script>
  startEdit();
</script>

