<% provide(:title, "Report | "+@report.name) %>
<% @title=" | Report | "+@report.name %>
<%= render 'flash' %>

<script> 
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
   reset_map_controllers();

   // clear any existing map features
   if (typeof(vectorLayer)!='undefined') vectorLayer.destroyFeatures();

</script>


<%= render 'shared/error_messages' %>
<%= render 'reports/report_details' %>

   <div class="erow">
      <div class="sectiontitle">
        Links:
      </div>
   </div>

   <% @report.reportLinks.each do |rl| %>
      <div class="erow" style="margin-left:25px">
        <div class="rowtitle" >
          <%= rl.item_type.capitalize+": "%>
        </div>
        <div class="rowtext">
          <%= link_to rl.child.name, rl.child, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %>
        </div>
      </div>
   <% end %>

