<% provide(:title, "Report | "+@report.name) %>
<% @title=" | Report | "+@report.name %>
<%= render 'flash' %>
<%= render 'application/mail_status' %>


<script> 
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
   reset_map_controllers();

   // clear any existing map features
   if (typeof(vectorLayer)!='undefined') vectorLayer.destroyFeatures();

</script>


<%= render 'shared/error_messages' %>
<%= render 'reports/report_details' %>

<div id="links_section">
  <% if @editlinks and signed_in?%>
    <div class="erow">
      <div class="leftbuttons">
         <span title="Close editing">
           <%=  link_to image_tag("/assets/red-x.png", :border=>0, :class => 'dock-item'), '/reports/'+@report.id.to_s, remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton"  %>
         </span>
      </div>
      <div class="sectiontitle-bold">
        Edit Links:
      </div>
    </div>
    <div id="editlinks">
      <%=render :partial => 'links_form',  :locals => {:parent => @report, :parent_type=>'report'} %>
    </div>
  <% else %>
    <div class="erow">
      <% if signed_in? %>
        <div class="leftbuttons">
          <span title="Edit links"%>
            <%=  link_to image_tag("/assets/pencil_edit.png", :border=>0, :class => 'dock-item'), '/reports/'+@report.id.to_s+'/?editlinks=true', remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton"  %>
          </span>
        </div>
      <% end %>
      <div class="sectiontitle-bold">
        Links:
      </div>
    </div>
    <%=render :partial => 'links_photos',  :locals => {:parent => @report} %>
    <div class="erow"><div class="hrline"> <hr noshade size="2"> </div></div>
    <%=render :partial => 'links_details',  :locals => {:parent => @report} %>
  <% end %>
</div>
