<% provide(:title, "Report | "+@report.name) %>
<% @title=" | Report | "+@report.name %>
<%= render 'flash' %>
<%= render 'application/mail_status' %>


<script> 
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
   reset_map_controllers(<%=if @current_user then @current_user.id.to_s end%>);
   map_clear_scratch_layer();

</script>


<%= render 'shared/error_messages' %>
<%= render 'reports/report_details' %>

<div id="links_section">
  <% if @editlinks and signed_in?%>
    <div class="erow">
      <div class="leftbuttons">
         <span title="Close editing">
           <%=  link_to image_tag("/assets/red-x.png", :border=>0, :class => 'dock-item'), '/reports/'+@report.id.to_s, remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton"  %>
         </span>
      </div>
      <div class="sectiontitle-bold" id="links_title">
        Edit Links:
      </div>
    </div>
    <div id="editlinks">
      <%=render :partial => 'links_form',  :locals => {:parent => @report, :parent_type=>'report'} %>
    </div>
  <% else %>
    <div class="erow">
      <% if signed_in? %>
        <div class="leftbuttons">
          <span title="Edit links" id="edit_links">
            <%=  link_to image_tag("/assets/pencil_edit.png", :border=>0, :class => 'dock-item'), '/reports/'+@report.id.to_s+'/?editlinks=true', remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton"  %>
          </span>
        </div>
      <% end %>
      <div class="sectiontitle-bold" id="links_title">
        Links:
      </div>
    </div>
    <%=render :partial => 'links_photos',  :locals => {:parent => @report} %>
    <div class="erow"><div class="hrline"> <hr noshade size="2"> </div></div>
    <%=render :partial => 'links_details',  :locals => {:parent => @report} %>
  <% end %>
     <div class="erow">
        <div class="hrline">
           <hr noshade size="4">
        </div>
     </div>

   <div id="comments_section">
     <%=render :partial => 'comments/comments_brief',  :locals => {:itemType => "report", :itemId => @report.id} %>
   </div>

</div>
<script>
    if(site_map_size!=1) { 
       $('#actionbar').removeClass('span7');
       var cl=document.getElementById('right_panel').className;
       $('#actionbar').addClass(cl);
    }
</script>

