
<% @rt_list.each do |rt| %>
     <% 
        minalt=99999
        maxalt=0
     %>
     <div class="erow">
     <div class="sectiontext25">
       <%="From "+Route.find_by_signed_id(rt.route.reverse.first).startplace.name%>
     </div>
     <% rt.route.reverse.each do |rt_id| 
          @route=Route.find_by_signed_id(rt_id) 
          @hideAll=1  %>
         <div class="sectiontext25">
           <%=render '/routes/route_brief'%> 
         </div>
     <% end %>
     <div class="sectiontext25">
            <% if rt.distance %>
               <%= "Distance: "+rt.distance.round(1).to_s+" km  " %>
            <%end %>
            <% if rt.time %>
               <%="("+rt.time.round(1).to_s+" DOC hours)"  %>
            <% end %>
            <% if rt.maxroutetype_.name!='Unknown'%>
               <%=" - "+rt.maxroutetype_.name%>
            <% end %>
            <% if rt.maxterrain_.name!='Unknown'%>
               <%=" - "+rt.maxterrain_.name+" terrain"%>
            <% end %>
               <br/>
               <%= "Altitude - max: "+rt.maxalt.to_i.to_s+"m  min: "+rt.minalt.to_i.to_s+"m"+
                  "  gain: "+rt.altgain.to_i.to_s+"m  loss: "+rt.altloss.to_i.to_s+"m" %>
               <% if rt.distance>0 %>
                  <%="  gradient: "+(Math.tan((rt.altgain+rt.altloss)/(rt.distance*1000))*180/Math::PI).to_i.to_s+" deg"%>
               <% end %>
               <% if rt.maxgradient_.name!='Unknown'%>
                  <%="("+rt.maxgradient_.name+")"%>
               <% end %><br/>
            Skills:
            <% if rt.maxalpines_.name!='Unknown' and rt.maxalpines_.name!='None' %>
               <%=rt.maxalpines_.name%><%=" ("+(rt.maxalpines-@alpines.minimum(:id)).to_s+"/"+(@alpines.maximum(:id)-@alpines.minimum(:id)).to_s+") "%>
            <% end %>
            <% if rt.maxriver_.name!='Unknown' and rt.maxriver_.name!='None' %>
               <%=" - "+rt.maxriver_.name%>
               <%=" ("+(rt.maxriver-@rivers.minimum(:id)).to_s+"/"+(@rivers.maximum(:id)-@rivers.minimum(:id)).to_s+") "%>
            <% end %>
            <% if rt.maxalpinew_.name!='Unknown' and rt.maxalpinew_.name!='None' %>
               Winter - <%=rt.maxalpinew_.name%>
               <%=" ("+(rt.maxalpinew-@alpinews.minimum(:id)).to_s+"/"+(@alpinews.maximum(:id)-@alpinews.minimum(:id)).to_s+")"%>
            <% end %>
     </div>
     <div class="subrow">
        <%=  link_to 'View Route', '/routes/'+rt.url, class: "btn btn-small btn-primary", remote: true, onclick: %q[linkHandler('r]+rt.url+%q[')], id:  'r'+rt.url  %> 
            <br/><br/>
     </div>
     </div>
<% end %>


