<% provide(:title, 'Places') %>
<% @title=" | Places" %>
<script>
   update_title('<%=@title%>');
   reset_map_controllers(<%=if @current_user then @current_user.id.to_s end%>);
   document.getElementById("page_status").innerHTML = '';

$(function () {
  $('#right_panel .pagination a').on('click', function () {
    $.getScript(this.href);
    return false;
  });
})
</script>
<div id="actionbar" class="span7">
   <div id="crumbs"></div>
   <div id="controls">
       <%= render :partial => 'mytrip_button'%>
   </div>
</div>

<div id='right_scroll'>
<span id='flash'><%= render 'flash' %></span>
 <%= form_tag '/places', :name => 'findform', :remote => true, :method => 'get', :style => 'margin-bottom: 0px' %>
<div class="erow">
  <br/>
  <div class="rowtitle">Find:</div>
  <div class="rowtext">
    <input type="text" name="searchtext" value='<%=@searchtext%>'/>
  </div>
  <div class="buttonshort">
    <%= submit_tag "Find", :id => "find", :onclick => "submit_search('find');" %>
  </div>
 </form>
Your search returned <%=@count.to_s%> results.
</div>
<div class="erow">
<%if @order=='latest'%>
  <div class="date_pagination"> <%= will_paginate(@places, :renderer => PaginationListLinkRenderer, :order => @order, :inner_window => 3) %></div>
<% else %>
  <div class="name_pagination"> <%= will_paginate(@places, :renderer => PaginationListLinkRenderer, :order => @order) %></div>
<% end %>
</div>
<div class="erow">
  <ul class="places">
    <% @places.each do |place| %>
      <li>
        <%= link_to place.name+" ("+place.place_type+")", place, remote: true, :id => 'place_link_'+place.id.to_s, :onclick => "linkHandler('place_link_"+place.id.to_s+"')" %>
        <% if place.park %> - - - <%= link_to place.park.name, '/parks/'+place.park.napalis_id.to_s, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')", class: "intext_link" %>  <% end %>
       <% if signed_in? %><% if !place.beenthere(@current_user.id) then %>
           <span title="Click to record your visit to this place"><%= link_to "Been there!",'/beenthere/new?url=xpv'+place.id.to_s, class: "link_to", onclick: "myplacesHandler('beenthere');", remote: true, id: "beenthere" %></span>
       <% end end %>
          

      </li>
    <% end %>
  </ul>
</div>

<div class="erow">
<%if @order=='latest'%>
  <div class="date_pagination"> <%= will_paginate(@places, :renderer => PaginationListLinkRenderer, :order => @order, :inner_window => 3) %></div>
<% else %>
  <div class="name_pagination"> <%= will_paginate(@places, :renderer => PaginationListLinkRenderer, :order => @order) %></div>
<% end %>
</div>
</div>
<script>
    if(site_map_size!=1) { 
       $('#actionbar').removeClass('span7');
       var cl=document.getElementById('right_panel').className;
       $('#actionbar').addClass(cl);
}
</script>
