<div id='place_details'>
  <div>
     <%= form_for  @place, :html => {:name => 'placeform'}  do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, :disabled=>!@edit %>


      <%= f.label :place_type %>
      <%= collection_select( :place, :place_type, @place_types, :name, :name, {}, {:disabled => !@edit}) %>
 
      <%= f.label :place_owner %>
      <%= f.text_field :place_owner, :disabled=>!@edit %>

      <%= f.label :description %>
      <%= f.text_area :description, :disabled=>!@edit, :rows=>"8"   %>

      <%= f.hidden_field :location, :readonly => true %>

      <%= f.label :projn %>
      <%= f.text_field :projn, :disabled=>!@edit %>

      <%= f.label :x %>
      <%= f.text_field :x, :disabled=>!@edit, :size => 8 %>

      <%= f.label :y %>
      <%= f.text_field :y, :disabled=>!@edit, :size => 8 %>

      <%= f.label :altitude %>
      <%= f.text_field :altitude, :disabled=>!@edit %>
      <br/>
      <% if @edit %>
        <%= f.submit "Save", class: "btn btn-large btn-primary" %>
      <% else %>
        <%=  link_to "Edit", '/places/'+@place.id.to_s+'/edit', class: "btn btn-large btn-primary", remote: true %>
      <% end %>
    <% end %>
  </div>
</div>
  Created by: <%= link_to @place.createdBy.name, '/users/'+@place.createdBy_id.to_s, remote: true%> on <%=@place.created_at%>. Last updated: <%=@place.updated_at%>

<script>
/*    reset_map_controllers(); */
    place_init();
</script>

