<div id='place_details'>
  <div>
     <%= form_for  @place, :remote=> true, :html => {:name => 'placeform'}  do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, :disabled=>!@edit %>


      <%= f.label :place_type %>
      <%= collection_select( :place, :place_type, PlaceType.all.order(:name), :name, :name, {}, {:disabled => !@edit}) %>
 
      <%= f.label :place_owner %>
      <%= f.text_field :place_owner, :disabled=>!@edit %>

      <%= f.label :description %>
      <%= f.text_area :description, :disabled=>!@edit, :rows=>"8"   %>

      <%= f.hidden_field :location, :readonly => true %>

      <div class="erow">
         <% if @edit %>
           <div class="expandbuttons">
              <span title="Select locstion from map">
                 <img id="placeplus" src="/assets/add.png" onclick="place_selectPlace()" width="16" style="display:block"></img>
              </span>
              <span title="Confirm selection">
                 <img id="placetick" src="/assets/tick.png" onclick="place_selectNothing()" width="16" style="display:none"></img>
              </span>
           </div>
         <% end %>
         <div class="rowtitle">Location:</div>
      </div>

      <%= f.label :projection %>
      <%= collection_select( :place, :projection_id, Projection.all.order(:name), :id, :name, {}, {:disabled => !@edit}) %>

      <%= f.label :x %>
      <%= f.text_field :x, :disabled=>!@edit, :size => 8 %>

      <%= f.label :y %>
      <%= f.text_field :y, :disabled=>!@edit, :size => 8 %>

      <%= "Altitude (leave blank to calculate from map upon save)" %>
      <%= f.text_field :altitude, :disabled=>!@edit %>

      <%= f.label :links %>
      <%= f.text_area :links, :disabled=>!@edit, :rows=> "4" %>
      <br/>
      <% if @edit %>
        <%= f.submit "Save", class: "btn btn-large btn-primary", name: "save", onclick: "updatePlace('savebutton')", id:  "savebutton" %>
        <%     if((@place.createdBy_id==@current_user.id) or (@current_user.role==Role.find_by( :name => 'root'))) %>
           <%= f.submit "Delete", class: "btn btn-large btn-primary", name: "delete", onclick: "updatePlace('deletebutton')", id:  "deletebutton" %>
        <% end %>

      <% else %>
        <%=  link_to "Edit", '/places/'+@place.id.to_s+'/edit', class: "btn btn-large btn-primary", remote: true %>
        <%= f.submit "Add to trip", class: "btn btn-large btn-primary", :disabled => @current_user, name: "add" %>
      <% end %>
    <% end %>
  </div>
</div>
<% if @place.createdBy_id %>
  Created by: <%= link_to @place.createdBy.name, '/users/'+@place.createdBy_id.to_s, remote: true%> on <%=@place.created_at%>. Last updated: <%=@place.updated_at%>
<% end %>


<script>
/*    reset_map_controllers(); */
    place_init('<%=@place.location%>', 0);
</script>

