<div>
  <div>
     <%= form_for  @place, :html => {:name => 'placeform'}  do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, :disabled=>!@edit %>

      <%= f.label :description %>
      <%= f.text_area :description, :disabled=>!@edit, size: "80x7" %>

      <%= f.label "Lat-long" %>
      <%= f.text_field :location, :disabled=>true %>

      <%= f.label :projn %>
      <%= f.text_field :projn, :disabled=>!@edit %>

      <%= f.label :x %>
      <%= f.text_field :x, :disabled=>!@edit %>

      <%= f.label :y %>
      <%= f.text_field :y, :disabled=>!@edit %>

      <%= f.label :altitude %>
      <%= f.text_field :altitude, :disabled=>!@edit %>
      <br/>
      <% if @edit %>
        <%= f.submit "Save", class: "btn btn-large btn-primary" %>
      <% else %>
        <%=  link_to "Edit", '/places/'+@place.id.to_s+'/edit', class: "btn btn-large btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>

