<div class="place_details">
   <!-- Place title and add/remove buttons if in edit mode-->
   <div class="expandrow">
      <div class="sectiontitle">
          <% link_name=@place.name+"( "+ (if @place.place_owner then @place.place_owner+" " end) + 
                 @place.place_type+" )" %>
          <% if !@history %>
     
             <%= link_to link_name, @place, remote:true,  remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')" %>
          <% else %>
             <%=link_name%>
          <% end %>

      </div>
   </div>

   <!-- Place location and max/mix buttons -->
   <div class="expandrow">
      <div class="expandbuttons">
         <img id='<%="forwards_p"+@place.id.to_s+"plus"%>' src="/assets/whiteplus.png" <%=%q[onclick=clickplus('forwards_p]+@place.id.to_s+%q[')]%> style='display:<%=if(@showForward==1) then "none" else "block" end%>'></img>
         <img id='<%="forwards_p"+@place.id.to_s+"minus"%>' src="/assets/whiteminus.png" <%=%q[onclick=clickminus('forwards_p]+@place.id.to_s+%q[')]%> style='display:<%=if(@showForward==1) then "block" else "none" end%>'></img>
      </div>
      <div class="sectiontitle" style="font-weight:normal">
         <%= "NZTM2000: "+@x.to_i.to_s+", "+@y.to_i.to_s %>
         <% if @place.altitude %>
            <%="(alt: "+@place.altitude.to_i.to_s+"m)"%>
         <% end %>
      </div>
   </div>

   <!-- Place location in collapsable diiv -->
   <div id='<%="forwards_p"+@place.id.to_s%>' class="sectiontext" style=<%=if (@showForward==1) then "display:block" else "display:none" end %>>
         <%= simple_format(@place.description).html_safe %>
   </div>


   <!-- Place links (f any) and max/mix buttons -->
   <% if (@place.links) %>
      <% if @place.links.length>0 %>
         <div class="expandrow">
            <div class="expandbuttons">
               <img id='<%="links_p"+@place.id.to_s+"plus"%>' src="/assets/whiteplus.png" <%=%q[onclick=clickplus('links_p]+@place.id.to_s+%q[')]%> style='display:<%=if(@showLinks==1) then "none" else "block" end%>'></img>
               <img id='<%="links_p"+@place.id.to_s+"minus"%>' src="/assets/whiteminus.png" <%=%q[onclick=clickminus('links_p]+@place.id.to_s+%q[')]%> style='display:<%=if(@showLinks==1) then "block" else "none" end%>'></img>
            </div>
            <div class="sectiontitle">
               Further information:
            </div>
          </div>
          <div id='<%="links_p"+@place.id.to_s%>' class="sectiontext" style=<%=if (@showLinks==1) then "display:block" else "display:none" end %>>
              <p><%=@place.links %><br/></p>
          </div>
       <% end %>
    <% end %>

   <!-- Place author details (if any) -->
    <% if @place.createdBy_id %>
       <small color="greyLight">
	  Created by: <%= link_to @place.createdBy.name, '/users/'+@place.createdBy_id.to_s, remote: true%> on <%=@place.firstcreated_at%>. Last updated: <%=@place.updated_at%> 
          <% if !@history %>
             <%= link_to "View history", '/history/place-'+@place.id.to_s, remote: true, :id => 'history', :onclick =>"linkHandler('history')" %>
          <% end %>
       </small>
    <% end %>

</div>
