<% provide(:title, "Place | "+@place.name) %>
<% @title=" | Place | "+@place.name %>
<%= render 'application/mail_status' %>

<script> 
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
   // clear any existing map features and reset hover if map exists
   if(typeof(map_scratch_layer)!='undefined') {
    reset_map_controllers(<%=if @current_user then @current_user.id.to_s end%>);  
    map_clear_scratch_layer();
   }
</script>

<div id="actionbar" class="span7">
   <div id="crumbs">
     <% if !signed_in? or !@place.beenthere(@current_user.id) then %>
       <span title="Click to record your visit to this place"><%= link_to "Been there!",'/beenthere/new?url=xpv'+@place.id.to_s, class: "btn btn-small btn-primary", onclick: "myplacesHandler('beenthere');", remote: true, id: "beenthere" %></span>
     <% else %>
       You've been here! <span><%= link_to "Remove",'/beenthere/delete?place_id='+@place.id.to_s+"&user_id="+@current_user.id.to_s, class: "intext_link", onclick: "myplacesHandler('beenthere');", remote: true, id: "beenthere" %></span>
     <% end %>
   </div>
   <div id="controls">
       <%= link_to "Download GPX", '/routes/xpv'+@place.id.to_s+'.gpx?version='+@version.to_s, class: "btn btn-small btn-primary" %>
       <%= link_to "Add to my trip", '/addtrip?id=xpv'+@place.id.to_s, class: "btn btn-small btn-primary", onclick: "linkHandler('addtrip')", remote: true, id: "addtrip" %>
       <%= render :partial => 'mytrip_button'%>
   </div>
</div>

<div id='place_container'>
  <span id="flash"><%= render 'flash' %></span>
   <%= render 'places/place_details' %>
     <div class="erow">
        <div class="hrline">
           <hr noshade size="4">
        </div>
     </div>


<div class="no-print" id="links_section">
  <% if @editlinks and signed_in? %>
    <div class="erow">
      <div class="leftbuttons">
         <span title="Close editing">
           <%=  link_to image_tag("/assets/red-x.png", :border=>0, :class => 'dock-item'), '/places/'+@place.id.to_s, remote: true, onclick: "linkHandler('editbutton');reset_map_controllers("+(if @current_user then @current_user.id.to_s else "" end)+");", id:  "editbutton"  %>
         </span>
      </div>
      <div class="sectiontitle-bold" id="links_title">
        Edit Links:
      </div>
    </div>
    <div id="editlinks">
      <%=render :partial => 'links_form',  :locals => {:parent => @place, :parent_type=>'place'} %>
    </div>
  <% else %>
    <div class="erow">
      <% if signed_in? %>
        <div class="leftbuttons">
        </div>
      <% end %>
      <div class="sectiontitle" style="margin-bottom: 5px" id="links_title">
        Links:
          <span title="Edit links" id="edit_links">
            <%=  link_to 'Add / edit link',  '/places/'+@place.id.to_s+'/?editlinks=true', remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton", class: 'link_to'  %>
          </span>
        <%@ourlinks=@place.links%>
        <%=render :partial => 'links_icons', :locals => {:parent => @place} %>
      </div>
    </div>
    <%=render :partial => 'links_photos',  :locals => {:parent => @place} %>
    <div class="erow"><div class="hrline"> <hr noshade size="2"> </div></div>
    <%=render :partial => 'links_details',  :locals => {:parent => @place} %>
  <% end %>
</div>

     <div class="erow">
        <div class="hrline">
           <hr noshade size="4">
        </div>
     </div>

<div class="no-print" id="links_section2">
   <div class="erow">
     <div class="sectiontitle-bold">
        Places you can go from here:
     </div>
   </div>
   <% @trip=true %>
   <% @dontMark=true %>
   <% @pl_list=[@place] %>
   <%= render '/places/adj_pl_list' %>


   <% @trip=false %>
   <% @dontMark=false %> 

   <div class="erow">
      <div class="hrline">
         <hr noshade size="4">
      </div>
   </div>
   <div class="erow">
     <div class="sectiontitle-bold">
        Trips passing through here:
     </div>
   </div>
   <% @place.trips.each do |r|%>
     <div class="erow">
        <div class="sectiontext"> 
           <li>
              <%=  link_to r.name+" by "+r.createdBy.name.capitalize, '/trips/'+r.id.to_s, remote: true, onclick: %q[linkHandler('t]+r.id.to_s+%q[')], id:  't'+r.id.to_s  %>
           </li>
        </div>
     </div>
   <% end %>

     <div class="erow">
        <div class="hrline">
           <hr noshade size="4">
        </div>
     </div>
</div>
<div id="links_section3">
   <div id="comments_section">
   <%=render :partial => 'comments/comments_brief',  :locals => {:itemType => "place", :itemId => @place.id} %>
   </div>

   <%= form_for  @place, :html => {:name => 'placeform'}, remote: true  do |f| %>
      <%= f.hidden_field :projection_id, :disabled=>!@edit %>

      <%= f.hidden_field :x, :disabled=>!@edit, :size => 8 %>

      <%= f.hidden_field :y, :disabled=>!@edit, :size => 8 %>
  
   <% end %>
   </div>
</div>
<script>
    /* relad places layer if we've been asked to */
    if(site_placesStale) {
       map_refresh_layer(places_layer);
       site_placesStale=false;
    }
    if(site_map_size!=1) { 
       $('#actionbar').removeClass('span7');
       var cl=document.getElementById('right_panel').className;
       $('#actionbar').addClass(cl);
}
</script>
