<% provide(:title, "Place | "+@place.name) %>
<% @title=" | Place | "+@place.name %>
<%= render 'flash' %>
<script> 
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
   // clear any existing map features and reset hover if map exists
   if(typeof(vectorLayer)!='undefined') {
    reset_map_controllers();
   }

</script>
<div id='place_details'>
   <%= render 'places/place_details' %>
     <div class="erow">
        <div class="hrline">
           <hr noshade size="4">
        </div>
     </div>
   <div id="links_section">
   <div class="erow" style="margin-top:12px">
     <div class="sectiontitle-bold">
        Places you can go from here:
     </div>
   </div>
   <% @trip=true %>
   <% @place.adjoiningPlaces.each do |ap|%>
     <div class="erow">
        <div class="hrline">
           <hr noshade size="2">
        </div>
     </div>
     <div class="erow">
        <div class="sectiontitle">
              <% nextplace=Place.find_by_id(ap[:place]) %>
              <%=  link_to nextplace.name, '/places/'+nextplace.id.to_s, remote: true, onclick: %q[linkHandler('p]+nextplace.id.to_s+%q[')], id:  'p'+nextplace.id.to_s  %>
        </div>
        <% @rt_list=ap[:route] %>
        <%= render '/routes/search_details' %>
     </div>

   <% end %>
   <% @trip=false %>

   <div class="erow">
      <div class="hrline">
         <hr noshade size="4">
      </div>
   </div>
   <div class="erow" style="margin-top:12px">
     <div class="sectiontitle-bold">
        Trips passing through here:
     </div>
   </div>
   <% @place.trips.each do |r|%>
     <div class="erow">
        <div class="sectiontext"> 
           <li>
              <%=  link_to r.name+" by "+r.createdBy.name.capitalize, '/trips/'+r.id.to_s, remote: true, onclick: %q[linkHandler('r]+r.id.to_s+%q[')], id:  'r'+r.id.to_s  %>
           </li>
        </div>
     </div>
   <% end %>

     <div class="erow">
        <div class="hrline">
           <hr noshade size="4">
        </div>
     </div>

   <div class="erow" style="margin-top:12px">
     <div class="sectiontitle-bold">
        Stories about this place:
     </div>
   </div>
   <% @place.reports.each do |r|%>
     <div class="erow">
        <div class="sectiontext">
           <li>
              <%=  link_to r.name+" by "+r.createdBy.name.capitalize, '/reports/'+r.id.to_s, remote: true, onclick: %q[linkHandler('r]+r.id.to_s+%q[')], id:  'r'+r.id.to_s  %>
           </li>
        </div>
     </div>
   <% end %>

   <%= form_for  @place, :html => {:name => 'placeform'}, remote: true  do |f| %>
      <%= f.hidden_field :projection_id, :disabled=>!@edit %>

      <%= f.hidden_field :x, :disabled=>!@edit, :size => 8 %>

      <%= f.hidden_field :y, :disabled=>!@edit, :size => 8 %>
  
   <% end %>
   </div>
</div>
<script>

    /* relad places layer if we've been asked to */
    if(placesStale) {
       places_layer.refresh({force: true}); 
       placesStale=false;
    }
</script>
