<% provide(:title, "Place | "+@place.name) %>
<% @title=" | Place | "+@place.name %>
<%= render 'flash' %>
<script> 
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
</script>
<div id='place_details'>
   <%= render 'places/place_details' %>

   <div class="expandrow" style="margin-top:12px">
     <div class="sectiontitle">
        Routes leading to / from here:
     </div>
   </div>
   <% @place.adjoiningRoutes.each do |r|%>
     <div class="expandrow">
        <div class="sectiontext"> 
           <li>
              <%=  link_to r.name, '/routes/'+r.id.to_s, remote: true, onclick: %q[linkHandler('r]+r.id.to_s+%q[)], id:  'r'+r.id.to_s  %>
           </li>
        </div>
     </div>
   <% end %>
</div>
   <div class="expandrow" style="margin-top:12px">
     <div class="sectiontitle">
        Trips passing through here:
     </div>
   </div>
   <% @place.trips.each do |r|%>
     <div class="expandrow">
        <div class="sectiontext"> 
           <li>
              <%=  link_to r.name+" by "+r.createdBy.name, '/trips/'+r.id.to_s, remote: true, onclick: %q[linkHandler('r]+r.id.to_s+%q[)], id:  'r'+r.id.to_s  %>
           </li>
        </div>
     </div>
   <% end %>
</div>
<%= form_for  @place, :html => {:name => 'placeform'}, remote: true  do |f| %>
      <%= f.hidden_field :projn, :disabled=>!@edit %>

      <%= f.hidden_field :x, :disabled=>!@edit, :size => 8 %>

      <%= f.hidden_field :y, :disabled=>!@edit, :size => 8 %>
  
      <% if signed_in? %> 
        <%=  link_to "Edit", '/places/'+@place.id.to_s+'/edit', class: "btn btn-large btn-primary",  remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton"  %>
        <%= f.submit "Add to trip", class: "btn btn-large btn-primary", name: "add", onclick: "linkHandler('addbutton')", id: "addbutton" %>
     <% end %>
<% end %>
<script>
/*    reset_map_controllers(); */
    place_init();

    /* relad places layer if we've been asked to */
    if(placesStale) {
       places_layer.refresh({force: true}); 
       placesStale=false;
    }
</script>

