    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
<!--        <div class="container"> -->
        <div id="our_logo">
          <%= link_to "Route Guides"+@title, root_path, id: "logo" %>
        </div>
          <nav>
            <ul class="nav pull-right" id="menus">
              <li id="fat-menu" class="dropdown">
              <a href="<%=root_path%>" class="dropdown-toggle" data-toggle="dropdown">
                   Home <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Home', root_path, remote: true, :id => 'home_link', :onclick => "linkHandler('homes_link')"  %></li>
                  <li><%= link_to "About", about_path, remote: true, :id => 'about_link', :onclick => "linkHandler('about_link')"  %></li>
                </ul>
              </li>

              <li id="fat-menu" class="dropdown">
              <a href="<%=places_path%>" class="dropdown-toggle" data-toggle="dropdown">
                   Places <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Browse', places_path, remote: true, :id => 'places_link', :onclick => "linkHandler('places_link')"  %></li>
                  <li><%= link_to "Add", new_place_path, remote: true, :id => 'new_place_link', :onclick => "linkHandler('new_places_link')"  %></li>
                </ul>
              </li>

              <li id="fat-menu" class="dropdown">
              <a href="<%=routes_path%>" class="dropdown-toggle" data-toggle="dropdown">
                   Routes <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Search", '/search',  remote: true,  :id => 'routesrc_link', :onclick => "linkHandler('routesrc_link')"  %></li>
                  <li><%= link_to "Routes", routes_path,  remote: true,  :id => 'routes_link', :onclick => "linkHandler('routes_link')"  %></li>
                  <li><%= link_to "Legs", '/legs',  remote: true,  :id => 'routes_link', :onclick => "linkHandler('routes_link')"  %></li>
                  <li><%= link_to "Add", new_route_path, remote: true,  :id => 'new_route_link', :onclick => "linkHandler('new_route_link')"   %></li>
                </ul>
              </li>

	      <li id="fat-menu" class="dropdown">
              <a href="<%=trips_path%>" class="dropdown-toggle" data-toggle="dropdown">
                   Trips <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Browse", trips_path,  remote: true,  :id => 'trips_link', :onclick => "linkHandler('trips_link')" %></li>
                  <li><%= link_to "Add", new_trip_path,  remote: true,  :id => 'new_trip_link', :onclick => "linkHandler('new_trip_link')" %></li>
                </ul>
              </li>
  
              <li id="fat-menu" class="dropdown">
              <a href="<%=reports_path%>" class="dropdown-toggle" data-toggle="dropdown">
                   Stories <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Browse", reports_path,  remote: true,  :id => 'report_link', :onclick => "linkHandler('report_link')" %></li>
                  <li><%= link_to "Add", new_report_path,  remote: true,  :id => 'new_report_link', :onclick => "linkHandler('new_report_link')" %></li>
                </ul>
              </li>

              <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                   Users <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Browse", users_path,  remote: true,  :id => 'user_link', :onclick => "linkHandler('user_link')" %></li>
                </ul>
              </li>

              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                   Mail <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Forum", '/forums',  remote: true,  :id => 'forum_link', :onclick => "linkHandler('forum_link')" %></li>
                  <% if signed_in? %>
                      <li><%= link_to "Mail", '/messages',  remote: true,  :id => 'mail_link', :onclick => "linkHandler('mail_link')" %></li>
                  <% end %>
                </ul>
              </li>

            
              <% if signed_in? %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                   <b>Me</b> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% if @current_user.currenttrip %> <li><%= link_to "Current trip",  currenttrip_path,  remote: true,  :id => 'my_trip_link', :onclick => "linkHandler('my_trip_link')"  %></li> <% end %>
                  <li><%= link_to "Wishlist", wishlist_path,  remote: true,  :id => 'trips_link', :onclick => "linkHandler('trips_link')" %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Profile", '/users/'+current_user.name, remote: true %></li>
                  <li><%= link_to "Settings", '#' %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", signout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
              <% else %>
                <li><%= link_to "Sign in", signin_path, remote: true %></li>
              <% end %>
            </ul>
          </nav>
<!--        </div>-->
      </div>
    </header>

