    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner" style="font-size:0.8em">
<!--        <div class="container"> -->
        <div id="our_logo">
          <%= link_to "Route Guides"+@title, root_path, id: "logo" %>
        </div>
          <nav>
            <ul class="nav pull-right" id="menus">
              <li id="fat-menu" class="dropdown">
              <a href="<%=root_path%>" class="dropdown-toggle" data-toggle="dropdown">
                   Home <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Home', root_path, remote: true, :id => 'home_link', :onclick => "linkHandler('homes_link')"  %></li>
                  <li><%= link_to "About", about_path, remote: true, :id => 'about_link', :onclick => "linkHandler('about_link')"  %></li>
                </ul>
              </li>

              <li id="fat-menu" class="dropdown">
              <a href="<%=places_path%>" class="dropdown-toggle" data-toggle="dropdown">
                   Find <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to '.. by name', '/find', remote: true, :id => 'find_link', :onclick => "linkHandler('find_link')"  %></li>
                  <li><%= link_to '.. by start / end', '/search', remote: true, :id => 'search_link', :onclick => "linkHandler('search_link')"  %></li>
                </ul>
              </li>

              <li id="fat-menu" class="dropdown">
              <a href="<%=places_path%>" class="dropdown-toggle" data-toggle="dropdown">
                   Browse <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Places", places_path,  remote: true,  :id => 'trips_link', :onclick => "linkHandler('trips_link')" %></li>
                  <li><%= link_to "Routes", '/routes',  remote: true,  :id => 'routes_link', :onclick => "linkHandler('routes_link')"  %></li>
                  <li><%= link_to "Route segments", '/legs',  remote: true,  :id => 'legs_link', :onclick => "linkHandler('legs_link')"  %></li>
                  <li><%= link_to "Trips", trips_path,  remote: true,  :id => 'trips_link', :onclick => "linkHandler('trips_link')" %></li>
                  <li><%= link_to "Stories", reports_path,  remote: true,  :id => 'report_link', :onclick => "linkHandler('report_link')" %></li>
                  <li><%= link_to "Photos", photos_path,  remote: true,  :id => 'photo_link', :onclick => "linkHandler('photo_link')" %></li>
                  <li><%= link_to "Users", users_path,  remote: true,  :id => 'user_link', :onclick => "linkHandler('user_link')" %></li>
                </ul>
              </li>

              <li id="fat-menu" class="dropdown">
              <a href="<%=routes_path%>" class="dropdown-toggle" data-toggle="dropdown">
                   Add <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Route", '/routes/xps',  remote: true,  :id => 'routes_link', :onclick => "linkHandler('routes_link')"  %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Place", new_place_path, remote: true, :id => 'new_place_link', :onclick => "linkHandler('new_places_link')"  %></li>
                  <li><%= link_to "Route segment", new_route_path, remote: true,  :id => 'new_route_link', :onclick => "linkHandler('new_route_link')"   %></li>
                  <li><%= link_to "Story", new_report_path,  remote: true,  :id => 'new_report_link', :onclick => "linkHandler('new_report_link')" %></li>
                  <li><%= link_to "Photo", new_photo_path,  remote: true,  :id => 'new_photo_link', :onclick => "linkHandler('new_photo_link')" %></li>

                </ul>
              </li>

              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                   Mail <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Forum", '/forums',  remote: true,  :id => 'forum_link', :onclick => "linkHandler('forum_link')" %></li>
                  <% if signed_in? %>
                      <li><%= link_to "Mail", '/messages',  remote: true,  :id => 'mail_link', :onclick => "linkHandler('mail_link')" %></li>
                  <% end %>
                </ul>
              </li>

            
              <% if signed_in? %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                   <b>Me</b> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "My draft items", drafts_path,  remote: true,  :id => 'drafts_link', :onclick => "linkHandler('drafts_link')" %></li>
                  <li><%= link_to "My trips", wishlist_path,  remote: true,  :id => 'trips_link', :onclick => "linkHandler('trips_link')" %></li>
                  <% if @current_user.currenttrip %> <li><%= link_to "Current trip",  currenttrip_path,  remote: true,  :id => 'my_trip_link', :onclick => "linkHandler('my_trip_link')"  %></li> <% end %>
                  <li><%= link_to "Add new trip", new_trip_path,  remote: true,  :id => 'new_trip_link', :onclick => "linkHandler('new_trip_link')" %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Profile", '/users/'+current_user.name, remote: true %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", signout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
              <% else %>
                <% if is_guest? and @current_guest.currenttrip %> <li><%= link_to "My trip",  currenttrip_path,  remote: true,  :id => 'my_trip_link', :onclick => "linkHandler('my_trip_link')"  %></li> <% end %>
                <li><%= link_to "Sign in", signin_path, remote: true %></li>
              <% end %>
              <li>
              <li>
                <%= link_to image_tag("/assets/newmail-24.png", :border => 5,  :class => 'dock-item'), '/messages/', remote: true, onclick: "linkHandler('newmail')", id:  "newmail", style: "display:none"  %>
              </li>
              <li>
                <img src='/assets/help-on.png' width="16" id="print_right" style="margin-top:13px;margin-right:5px" onclick="HelpWindow('/reports/14')">
              </li>
              <li>
                <img src='/assets/print24.png' width="16" id="print_right" style="margin-top:13px;margin-right:5px" onclick="PrintElem('right_panel')">
              </li>
            </ul>
          </nav>
<!--        </div>-->
      </div>
    </header>

