<!DOCTYPE html>
<html>
  <head>
    <style>
html, body {
        height: 100%;
        width: 100%;
        border: 0px;
        margin: 0px;
        padding: 0px;
}

#map_map {
        width: calc(100% - 2px);
        height: calc(100% - 62px);
        border: 0px;
        margin: 0px;
        margin-top: 100px;
        margin-left: 20px;
        padding: 0px;
}
            #tooltip{
                position:absolute; 
                z-index:10000; 
                background-color:#FFFFFF;
                display:none;
                padding:5px;
            }

</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="/assets/OpenLayers.js"></script>
    <script type="text/javascript" src="/assets/proj4js/lib/proj4js-compressed.js"></script>

    <%= javascript_include_tag "/assets/map.js" %>

    <!-- load page-specific map javascript and determine init function to call. Default is init() -->
    <%  @init_name = "init()" %>
      <%= javascript_include_tag "/assets/place.js" %>

    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %> 
</head>
<body onload='<%=@init_name%>'>
    <%= render 'layouts/header' %>
    <div id="main_page">
    <div id="left_panel">
    <%= render 'maps/map' %>
    </div>
    <div id="right_panel">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <!-- clear flash as if we use partials it won't clear itself -->
      <% flash[:error] = flash[:success] = nil %>
      <%= yield %>
    </div>
  <%= form_tag '/redisplay', :remote=> true, :id => "thelink", :name=> 'selectform', :method=> 'post'%>
    <div class="row">
     <input type="hidden" name="select"/>
    </div>
  </form>

  </div>
</body>
</html>
