<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="/assets/OpenLayers.js"></script>


    <!-- load page-specific map javascript and determine init function to call. Default is init() -->
    <%  @init_name = "init()" %>

    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %> 
    <meta name="google-site-verification" content="KIylIchG3986annyXGfxBNJ-qMOJCDG2tdcuUMFPoO0" />
    <%= render '/maps/styles' %>

</head>
<body onload='<%=@init_name%>'>

    <%= render 'layouts/header' %>
    <div id="main_page">
    <div id="left_panel">
      <%= render 'maps/map' %>
    </div>
    <div id="right_panel">
      <%= yield %>
    </div>
  <%= form_tag '/redisplay', :remote=> true, :id => "thelink", :name=> 'selectform', :method=> 'post'%>
    <div class="row">
     <input type="hidden" name="select"/>
     <input type="hidden" name="selectname"/>
     <input type="hidden" name="selectx"/>
     <input type="hidden" name="selecty"/>
     <input type="hidden" name="selecttype"/>
    </div>
  </form>

  </div>
</body>
</html>
